[2019-12-03 16:54] mgrachev opened #1 "Set up running tests"
Add a GitHub Action to run tests.

[2019-12-03 16:56] mgrachev opened #2 "Set up running linters"
Add a GitHub Action to run linters like [rust-lang/rust-clippy](https://github.com/rust-lang/rust-clippy).

[2019-12-03 16:59] mgrachev opened #3 "Set up checking project build"
Add a GitHub Action to check if the project is building.

[2019-12-03 17:13] mgrachev opened #4 "Add check: Unordered keys"
Example:

[code]

This check should display a message:

[2019-12-03 17:16] mgrachev opened #5 "Add check: Duplicated keys"
Example:

[code]

This check should display a message:

[2019-12-03 17:19] mgrachev opened #6 "Add check: Lowercase keys"
Example:

[code]

This check should display a message:

[2019-12-03 17:21] mgrachev opened #7 "Add check: Keys without values"
Example:

[code]

This check should display a message:

[2019-12-03 17:24] mgrachev opened #8 "Add check: Incorrect delimiter"
Example:

[code]

This check should display a message:

[2019-12-03 17:26] mgrachev opened #9 "Add check: Spaces around equal sign"
Example:

[code]

This check should display a message:

[2019-12-05 09:36] mgrachev opened #11 "Add security audit for dependencies"
https://github.com/RustSec/cargo-audit

[2019-12-05 09:51] #11 closed

[2019-12-05 10:30] #1 closed

[2019-12-05 10:30] #2 closed

[2019-12-05 10:30] #3 closed

[2019-12-07 11:06] mgrachev opened #13 "Prepare a template for easy adding new checks"
What should be done:
- [ ] Implement a structure for new checks (File structure, Struct, Trait);
- [ ] Add documentation "How to write new check";
- [ ] Add documentation "How to test new check".

[2019-12-09 17:50] #13 closed

[2019-12-09 20:08] qelphybox commented on #6
беру себе

[2019-12-10 06:58] quicktour commented on #5
I'll take these issue

[2019-12-10 09:48] mgrachev opened #15 "Add test cover for checks module"
Add test cover for these functions:
- [ ] [checklist](https://github.com/mgrachev/dotenv-linter/blob/master/src/checks.rs#L29)
- [ ] [run](https://github.com/mgrachev/dotenv-linter/blob/master/src/checks.rs#L33)

[2019-12-10 09:51] mgrachev opened #16 "Add test cover for lib"
Add test cover for these functions:
- [x] [dotenv_files](https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L39)
- [x] [run](https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L15)

[2019-12-10 10:06] mgrachev opened #17 "Implement Display trait for LineEntry"
Implement the `Display` trait for the `LineEntry` struct to remove the line `#[allow(dead_code)]`

[2019-12-10 10:37] mgrachev opened #18 "Add documentation to all functions"

[2019-12-11 09:38] #17 closed

[2019-12-15 00:11] sonro commented on #8
Can I have a crack at this?

[2019-12-15 21:07] mgrachev commented on #8
@sonro Sure! 👍

[2019-12-16 15:12] mstruebing commented on #7
I'll take that :)

[2019-12-16 18:37] #7 closed

[2019-12-16 18:44] mstruebing commented on #5
@quicktour any news on that or are you stuck? Otherwise I would love to try it.

[2019-12-16 19:11] mgrachev opened #23 "Ideas"
Hi there!

If you have any ideas on how to improve this project or what other checks we should add - welcome 😉

[2019-12-17 06:39] mgrachev opened #24 "Refresh instruction in README"
Refresh instruction about how to add new checks in README due to changes in code.

[2019-12-17 08:03] mstruebing commented on #23
A dockerimage would be nice I think

[2019-12-17 08:47] mgrachev commented on #23
Could you give more information about that? Do you want to run this linter using a Docker image?

[2019-12-17 09:42] mstruebing commented on #23
Yes, an image with an already compiled binary which I can just use without the need to install `dotenv-linter` or any dependencies (like rust for example).

[2019-12-18 15:32] #8 closed

[2019-12-18 15:56] mgrachev opened #25 "Replace field warning with template for all check structs"
If we look at existing checks, we will see a little weird way of working with warnings:
[code]

Therefore, I suggest replacing `warning: Warning` with `template: String` for all check structs:
[code]

[2019-12-18 16:04] #25 closed

[2019-12-18 16:15] #24 closed

[2019-12-27 11:00] #6 closed

[2019-12-27 14:47] mgrachev opened #28 "Add support for command line arguments"
Add support for 2 command line arguments:
* `--help`, `-h`;
* `--version`, `-v`.

To implement that we should use [clap](https://github.com/clap-rs/clap), because in the future we will increase the number of supported arguments.

[2019-12-27 18:10] mgrachev opened #29 "Add code coverage tool"
[coveralls.io](https://coveralls.io) or [codecov.io](https://codecov.io)

[2019-12-27 18:54] mgrachev opened #30 "Release first version"
What should be done:
- [x] Create a GitHub Action to make a release;
- [x] Build binaries for Linux, macOS and Windows;
- [x] Publish release to GitHub;
- [x] Update README.md.

[2019-12-27 19:24] #28 closed

[2019-12-31 08:45] qelphybox commented on #23
disabling comments
e.g.
[code]

[2019-12-31 08:56] qelphybox commented on #23
We have an `.env`
[code]

run `dotenv-linter --fix`

- remove leading spaces
- replace incorrect delimeter to "_"
- set '=' to empty keys
- remove duplicated keys, sets value of the last key
- order keys

We'll get:
[code]

[2020-01-01 15:32] mgrachev opened #34 "Build Docker image"
What should be done:
- [x] Build a Docker image;
- [x] Publish to Docker Hub;
- [x] Update README.

[2020-01-01 15:34] mgrachev commented on #23
Great idea! I've just created an issue to do that https://github.com/mgrachev/dotenv-linter/issues/34.

[2020-01-01 15:42] mgrachev commented on #30
Done! https://github.com/mgrachev/dotenv-linter/releases/tag/v1.0.0

@mstruebing, @sonro, @qelphybox Thanks a lot guys! ❤️

[2020-01-01 15:42] #30 closed

[2020-01-01 15:46] mgrachev commented on #23
I think it's a good idea! Could you open an issue and write your vision on how this will work?

[2020-01-01 15:50] mgrachev commented on #23
Awesome idea! Thank you! I will think about how to implement it.

[2020-01-02 08:33] mstruebing commented on #23
Maybe it would be a good idea to give the user the ability to lint a specific file, i.e.: `dotenv-linter .my-env-file`

[2020-01-02 15:22] artem-russkikh commented on #9
I'll take this issue

[2020-01-02 15:42] artem-russkikh opened #36 "Filter out commented lines"
I think filtering should be realized before all checks, here: https://github.com/mgrachev/dotenv-linter/blob/9e28fcb41608d03181f01a444802b193725d3867/src/lib.rs#L36-L43

For now `incorrect_delimiter` check fails on line:
[code]
with message `.env:1 The #FOO key has incorrect delimiter`

Inline comments may affect some checks (but I don't investigate it):
[code]

[2020-01-02 16:00] artem-russkikh commented on #23
I think it would be good to add check for lines trailing spaces, what do you think?

Also it would be good to skip blank lines. Blank lines could be used in env files for separation some blocks of variables. ENV file like this:
[code]
prints out `.env:2 The  key should be with a value or have an equal sign`

And I've created issue for filtering out comments https://github.com/mgrachev/dotenv-linte

[2020-01-03 12:46] mgrachev commented on #23
You're right! I've already thought about it. I will open an issue to do that a bit later.

[2020-01-03 12:48] mgrachev commented on #23
Good ideas! Thank you!

[2020-01-03 15:11] artem-russkikh opened #38 "Remove inline comments from lines"
We should remove inline comments before running checks, because inline comments may affect checks behaviour.

Example:
[code]

Is need to ensure that commented lines with leading spaces will be skipped too:

[code]

[2020-01-03 15:12] artem-russkikh commented on #36
Moved filtering inline comments to #38

[2020-01-03 16:04] #36 closed

[2020-01-03 16:25] mgrachev opened #39 "Skip commented lines with leading spaces"
Example:
[code]

[2020-01-03 16:27] mgrachev commented on #38
Moved to the issue https://github.com/mgrachev/dotenv-linter/issues/39

[2020-01-03 16:35] #39 closed

[2020-01-03 18:54] mgrachev opened #41 "Update README"
What should be done:
- [x] Add build status badge;
- [x] Add license badge;
- [x] Add latest version badge;
- [x] Replace examples with `FOO=VAR`;
- [x] Add some emoji ✌️

[2020-01-03 19:11] #41 closed

[2020-01-03 22:05] #9 closed

[2020-01-04 11:23] artem-russkikh commented on #23
Change exit code to nonzero if some checks are failing – it will be useful for CI

[2020-01-05 09:54] mgrachev opened #45 "Add ability to include files to check"
What should be done:
- [ ] Add the command line argument: `-i FILE_NAME`, `--include FILE_NAME`;
- [ ] Support multiple use: `-i FILE_1 -i FILE_2 -i FILE_3`;
- [ ] Add usage information to README.

[2020-01-05 09:56] mgrachev commented on #23
https://github.com/mgrachev/dotenv-linter/issues/45

[2020-01-05 10:00] mgrachev opened #46 "Add ability to exclude files from check"
What should be done:
- [ ] Add the command line argument: `-e FILE_NAME`, `--exclude FILE_NAME`;
- [ ] Support multiple use: `-e FILE_1 -e FILE_2 -e FILE_3`;
- [ ] Add usage information to README.

[2020-01-05 10:12] mgrachev opened #47 "Exit with the code 1 If there is at least one warning"
Link: https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L49

[2020-01-05 10:13] mgrachev commented on #23
Good catch! Thank you! https://github.com/mgrachev/dotenv-linter/issues/47

[2020-01-05 10:17] mstruebing commented on #47
Hey, I think it would be better if the tool is failing with an exit code when at least one warning exists by default and not with an additional argument.
This is default behavior of a linter in my opinion.

[2020-01-05 10:43] #45 closed

[2020-01-05 16:30] mgrachev commented on #47
@mstruebing Good catch! Thank you. I've updated this issue.

[2020-01-06 07:33] mstruebing commented on #47
One question, why should the user be capable of manually choosing which exit code is used when failing occurs?
As far as I understand exit codes, and used them, it is totally up to the tool to decide which exit code to use.
Every exit code has a meaning, so it shouldn't be user decidable.

I.e you could use an exit code 1 for example to indicate wrongly used arguments and exit code 2 for errors in

[2020-01-06 07:35] mstruebing commented on #18
Do you mean code comments?
Because what these functions are doing is already present in the readme as far as I can see.

[2020-01-06 10:10] mgrachev commented on #18
Yes, you're right. I'll assign this issue to myself.

[2020-01-06 11:38] mgrachev commented on #47
@mstruebing I think you're right.

But I have another question - Should we give the user the ability to change the exit code from 1 to 0 if dotenv-linter finds at least one warning?

For example, [golangci-lint](https://github.com/golangci/golangci-lint) lets do it like that:
[code]

Or another example - [golint](https://github.com/golang/lint) sets the exit status to 1 if any issues are found lik

[2020-01-07 14:24] mstruebing commented on #47
I don't think this is a good idea. I run the linter to catch issues and get notified, this is done best by an `exit code != 0`.

What would make sense, in my opinion, is, if we would make a difference between warnings and errors (which we don't do at the moment, and I don't know if it would be cool) and give the user the option to decide if warnings would produce an `exit code != 0` and errors alw

[2020-01-07 16:10] #46 closed

[2020-01-08 15:51] mgrachev opened #51 "Global refactoring"
What should be done:
- [ ] Add mutability support for checks (First of all, this is necessary for #4, #5, #33);
- [ ] Reorder checks alphabetically;
- [ ] Split some tests into methods;
- [ ] Remove `dead_code` (Methods used in tests).

[2020-01-08 16:04] mgrachev commented on #47
Updated.

[2020-01-08 16:05] #51 closed

[2020-01-09 11:08] mgrachev opened #56 "Leading space check: Doesn't check tab character"
Need to fix this bug and write a test for this case.

Link: https://github.com/mgrachev/dotenv-linter/blob/master/src/checks/leading_space.rs#L18

[2020-01-09 11:13] mstruebing commented on #56
While at it, I think it would be good to check if the line starts with anything else than `[a-zA-Z#]`, the `#` because of comments.

[2020-01-09 11:24] mgrachev opened #57 "Fix a bug with duplicate paths"
We can pass an argument to `dotenv-linter` to include some files to check:

[code]

If the file already exists in the paths, we will get a duplicate result:

[code]

Need to fix that and write tests for that case.

Link: https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L101

[2020-01-09 12:07] mgrachev commented on #56
@mstruebing We already skip comments https://github.com/mgrachev/dotenv-linter/blob/master/src/checks.rs#L54

Could you give more examples [there](https://github.com/mgrachev/dotenv-linter/issues/23)?

[2020-01-09 12:13] mstruebing commented on #56
I mean, to only check if it starts also with a tab-character can lead to additional things which are not really wanted. I.e what if the line would be: `*HELLO=abc` - would that be a valid line?
I assume that is an error, so I mean that it would be better to chack that the line starts with a valid character instead of checking every character which isn't allowed. That could be easily done with a re

[2020-01-09 23:16] Louis-Lesage commented on #47
I have made a pull request that should solve this issue.
See #58 .
Feedback is appreciated

[2020-01-10 00:13] Louis-Lesage commented on #57
Where should I put the test. Should I create a tests folder or should I write it next to the implementation of the tested function?

[2020-01-10 07:26] mgrachev commented on #57
I think you should write integration tests for that case and create the `tests` folder.

[2020-01-11 09:43] #47 closed

[2020-01-11 10:40] #34 closed

[2020-01-11 12:08] mstruebing commented on #38
Whoever will work on that issue, please keep in mind some edge cases, here I created a complex password and tested it in different situations:

[code]

[2020-01-11 20:31] #5 closed

[2020-01-17 10:26] #57 closed

[2020-01-18 14:20] #29 closed

[2020-01-18 16:11] #15 closed

[2020-01-21 09:21] mgrachev commented on #18
We've already done it.

[2020-01-21 09:46] #4 closed

[2020-01-22 13:03] mgrachev commented on #56
@mstruebing I like the idea of checking valid characters instead of invalid characters, but I wouldn’t like to use regexp to do that.

I think we can use the standard library of Rust. For example:
[code]

[2020-01-22 15:58] mgrachev commented on #56
The example above covers all of these cases:
[code]

[2020-01-24 11:07] mgrachev commented on #38
Guys, I thought about it and don't fully understand how inline comments can affects to the behaviour of checks, because we don't check values.

[2020-01-24 11:25] mstruebing commented on #38
I think you are right.
I currently see no need to check that.

[2020-01-24 11:29] mgrachev commented on #38
@mstruebing Thank you. I close this issue.

[2020-01-24 11:29] #38 closed

[2020-01-24 16:07] #56 closed

[2020-02-12 15:58] mstruebing opened #82 "Provide dotenv-linter in the Arch User Repository"
The Arch User Repository is like a package repository for Arch linux maintained by it's users.
I would be happy to set it up there so that any arch user can simply install it with:

`<your-aur-helper> -S dotenv-linter` (`-S` is mostly the command to install a package, in case your aur helper does it differently you need to substitute this command.

If that would be desired I would be happy to go :

[2020-02-12 17:59] mgrachev commented on #82
@mstruebing 👋Thank you for your good idea!

Before we start I would like to know what we should do to add `dotenv-linter` to the Arch User Repository?

[2020-02-13 08:25] mstruebing commented on #82
It's maybe easier than you think.
If you are a registered user you can clone an empty repository, in this case ssh://aur@aur.archlinux.org/dotenv-linter-git.git and commit and push a file called `PKGBUILD` where build and installation information are written. But I would do that for you :)

A sample PKGBUILD file can look like this: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=tldr-go-cl

[2020-02-13 14:18] mgrachev commented on #82
@mstruebing Thank you for explanation! I'll do it a bit later.

[2020-02-13 14:24] mstruebing commented on #82
I can do it if you don't mind.

[2020-02-13 15:49] mgrachev commented on #82
Sure, but I’d like to have the ability to update dotenv-linter in the future. How can we do that?

For example, you can prepare the `PKGBUILD` file and I'll push it to the repository `ssh://aur@aur.archlinux.org/dotenv-linter.git`.

What do think about it?

[2020-02-13 16:16] mstruebing commented on #82
Maybe it's possible to have something like Co-authors or maintainers.
But otherwise, yeah, I will send it to you and you can publish it :)

[2020-02-14 09:30] mgrachev commented on #82
@mstruebing Do you plan to use a binary release in `PKGBUILD`?

[2020-02-14 09:41] mstruebing commented on #82
I would think of building it via cargo, we could have a `dotenv-linter-git` version, which builds it itself and a `dotenv-linter` or `dotenv-linter-bin` version which loads only the binary.

[2020-02-14 09:51] mgrachev commented on #82
I think if we use a binary file, it'll be easier and faster than building from a source. Do you agree?

[2020-02-14 10:13] mstruebing commented on #82
Yep, the advantage of the additional `*-git` release would be that you don't need to update the `PKGBUILD` for every new release and people are able to use the newest version with no additional work.
So I would recommend releasing both versions on the AUR for the best outcome.

For my personal projects, I only release a `*-git` version because I'm lazy :D

[2020-02-14 10:52] mstruebing commented on #82
I just published the `-git` version: https://aur.archlinux.org/packages/dotenv-linter-git/

We have two options now.

* I add you as a co-maintainer
* I disown the package and then you are able to adopt it (with all already made changes from me)

I'm fine with both solutions, you decide.
I will have a look at the binary package next time I find some spare time :)

[code]

[2020-02-17 09:49] mgrachev commented on #82
@mstruebing You've done a worderful work 🚀Thanks a lot!

I think it will be better if you add me as a co-maintainer. Does AUR allow you to do that?

[2020-02-17 16:59] mstruebing commented on #82
Yes, I only need your username if you've registered on the page (https://aur.archlinux.org/)

[2020-02-17 17:40] mgrachev commented on #82
https://aur.archlinux.org/account/mgrachev

[2020-02-17 20:58] mstruebing commented on #82
I added you and you are also listed on the maintainer field at https://aur.archlinux.org/packages/dotenv-linter-git/

I will probably work at the weekend on the binary release and provide some documentation how to update it once a new release it out.

[2020-02-19 16:13] mgrachev opened #87 "Proposal: New API"
Hi there!

I would like to suggest the new way of using `dotenv-linter`:

[code]

I also want to remove `--include` and `--path` arguments, because they are no longer needed;

@mstruebing @artem-russkikh @qelphybox @sonro @Louis-Lesage
What do you think about these changes?

[2020-02-19 18:58] artem-russkikh commented on #87
Yes! I'm agree with such API

But I think recursive by default is not good
It will do N filesystem calls to get all files in all subfolders of project?
Maybe introduce `-r` arg?

[2020-02-19 19:02] Louis-Lesage commented on #87
I second the -r argument. The behavior would be similar to `rm` in unix systems.

[2020-02-20 09:02] mstruebing commented on #87
I would love that, that is how I would expect the linter to behave actually.

[2020-02-20 18:11] mgrachev commented on #87
@artem-russkikh @Louis-Lesage Thank you for your comments.

As @mstruebing said, most linters work the same way, i.e. check directories recursively. For example:
* [rubocop](https://rubocop.readthedocs.io/en/latest/configuration/#includingexcluding-files)
* [reek](https://github.com/troessner/reek/blob/4f0b629a941dd02974f5bad136d5d0cca89d3dbe/lib/reek/configuration/directory_directives.rb#L69)
* [

[2020-02-20 20:14] mstruebing commented on #82
The `bin` release is out there: https://aur.archlinux.org/packages/dotenv-linter-bin/

I will provide documentation soonish.

[code]

[2020-02-20 20:24] mstruebing commented on #82
Where should I put the documentation? Would `CONTRIBUTING.md` a good place?
Or would we rather have something like `RELEASE.md` where we gather different release instructions?

[2020-02-21 06:06] artem-russkikh commented on #87
@mgrachev @mstruebing You convinced me, I'm agree

Option for disabling is not needed, if you don't want recoursive check you can call for example in a such way:
[code]

I'm just want to say: because usually .env files in projects are only in root of project, README should in first place describe usage for such case, without excess recoursive scans.
If user need scan all subfolders, which can have

[2020-02-21 06:09] artem-russkikh commented on #87
Also... Similar with rubocop `.rubocop.yml` we can configure dotenv-linter using `.dotenv-linter.yml` file in project directory, which can describe default pattern for scanning

[2020-02-21 08:16] mgrachev commented on #82
@mstruebing I think the best place to store release build information will be `RELEASE.md`

[2020-02-23 09:46] mgrachev commented on #87
I looked at some `dotenv` libraries and came to the conclusion: **We don't need to check files recursively.**

All `dotenv` libraries look for `.env` files in the current directory:
* Ruby: https://github.com/bkeepers/dotenv
* Rust: https://github.com/dotenv-rs/dotenv
* JS: https://github.com/motdotla/dotenv
* PHP: https://github.com/vlucas/phpdotenv
* Haskell: https://github.com/stackbuilders/dot

[2020-02-24 09:17] #82 closed

[2020-02-24 21:27] Louis-Lesage commented on #87
Should we use an iterative approach over a recursive one since there could easily be a stack overflow?
I'd like to give a stab at it. Surely the recursive approach is easier and more clean, but it could lead to some bug in some case of extreme usage.

[2020-02-25 20:13] mgrachev commented on #87
What dot you mean? We've already decided not to check files recursiively, because `dotenv` libraries only work with the current directory.

So, I only plan to update the API.

[2020-02-25 20:31] Louis-Lesage commented on #87
Oh, my bad, I misunderstood.

I thought that the default behavior would be non-recursive but we would still like to be able to do it recursively (like with the argument `-r`)

[2020-02-27 09:46] qelphybox commented on #87
Hi. I support your decision to check files directly by the path, that is much more obvious IMHO.

[2020-02-28 09:19] mgrachev commented on #87
Thanks everyone! I plan to open a PR with these changes in the near future.

[2020-03-21 18:37] #16 closed

[2020-03-21 18:37] #87 closed

[2020-03-22 12:16] mgrachev opened #100 "Fix a bug with exit with code 1"
`dotenv-linter` always exits with code 1 even if there are no warnings.
Need to fix that bug and write some integration tests to cover that case.

Link: https://github.com/mgrachev/dotenv-linter/blob/master/src/main.rs#L18

[2020-03-22 12:17] mgrachev opened #101 "UnorderedKeys: Use Vector#get for getting value by index"
Need to replace the current solution of checking the length of the vector and getting a value by a key with the method [Vector#get](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.get). It's more clear and convenient way to do that.

Source: https://github.com/mgrachev/dotenv-linter/blob/master/src/checks/unordered_keys.rs#L28:L33

[2020-03-22 12:17] mgrachev opened #102 "Remove unused args"
After the PR https://github.com/mgrachev/dotenv-linter/pull/99 we have two unused args which we need to remove: `--include` and `--path`.

Link: https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L28

[2020-03-22 12:17] mgrachev opened #103 "Remove the unwrap method while working with current directory"
Instead of using the [unwrap](https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L65) method and getting `&str`, we can use the type `&OsStr` without the method `unwrap`. Need to replace `&str` with `&OsStr` in that file.

[2020-03-22 12:17] mgrachev opened #104 "Add cache action to CI workflow"
https://github.com/actions/cache/blob/master/examples.md#rust---cargo

[2020-03-22 17:51] #100 closed

[2020-03-22 17:59] #102 closed

[2020-03-22 19:30] mgrachev opened #112 "Provide more short way to install dotenv-linter"
Right now we can install `dotenv-linter` something like this:
[code]

I would like to have a script which provides more short way to install it. For example:
[code]

Or something like that.

[2020-03-22 19:42] Macbet commented on #112
sounds like a great issues , I'll take it !

[2020-03-22 21:24] mgrachev opened #114 "Automate Homebrew releases"
Need to automate Homebrew releases to https://github.com/dotenv-linter/homebrew-tap using GitHub Actions.

[2020-03-23 08:44] #103 closed

[2020-03-23 09:10] #101 closed

[2020-03-25 11:27] mgrachev opened #116 "Automate AUR releases"
@mstruebing Hi there!

Is it possible to automate releases for [dotenv-linter-bin](https://aur.archlinux.org/packages/dotenv-linter-bin) via GitHub Actions?

What do you think about it?

[2020-03-26 08:12] mstruebing commented on #116
I think the only way would be to create a "bot"-account for the AUR and adding an SSH-key.
Then creating a GitHub Action with this SSH-key as a secret - cloning the AUR repository while the pipeline is running - or maybe using a git sub-module - doing the necessary steps and pushing it back to the AUR.

Do you think that is suitable?

[2020-03-27 09:46] mgrachev commented on #116
@mstruebing Thank you! I like this approach.

Another question - Can we do that using the OS `ubuntu` https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources?

And would you like to implement it?

[2020-03-27 09:49] mstruebing commented on #116
I would like to, but I think I can't find time before next week.

[2020-03-27 09:53] mgrachev commented on #116
Thank you! Of course, as soon as you can.

[2020-03-27 15:08] mgrachev opened #117 "Rename check UnorderedKeys to UnorderedKey"
All checks should have names in a single form.
So need to rename the check `UnorderedKeys` to `UnorderedKey`.

[2020-03-27 15:08] mgrachev opened #118 "Rename check DuplicatedKeys to DuplicatedKey"
All checks should have names in a single form.
So need to rename the check `DuplicatedKeys` to `DuplicatedKey`.

[2020-03-27 15:27] mgrachev opened #119 "Rename check SpacesAroundEqual to SpaceCharacter"
Need to rename the check `SpacesAroundEqual` to `SpaceCharacter`.

[2020-03-27 15:38] mgrachev opened #120 "DuplicatedKey: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #121 "IncorrectDelimiter: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #122 "KeyWithoutValue: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #123 "LeadingCharacter: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #124 "LowercaseKey: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #125 "SpaceCharacter: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:39] mgrachev opened #126 "UnorderedKey: Show check name in message"
Right now the message looks like this:
[code]

Need to add the check name to the message:
[code]

[2020-03-27 15:50] mgrachev opened #127 "Add test coverage for --exclude argument"
Example: https://github.com/mgrachev/dotenv-linter/blob/master/tests/cli_test.rs

[2020-03-27 15:55] mgrachev opened #128 "Replace kcov with grcov"
Replace [kcov](https://github.com/mgrachev/dotenv-linter/blob/master/.github/workflows/ci.yml#L76) with [grcov](https://github.com/actions-rs/grcov) in GitHub Actions.

[2020-03-27 15:58] mgrachev opened #129 "Optimize size of binary"
Optimize size of binary and provide some statistics: what size was and what became.

[2020-03-27 17:00] pineapplethief commented on #117
I'll try to do it in the weekend

[2020-03-29 12:19] qelphybox commented on #124
I'll take it

[2020-03-29 18:11] mgrachev opened #130 "Promotion"
Hi there!

I would like that more people will know about this project.

What I have already done for this:
- [x] Added the project to [caramelomartins/awesome-linters](https://github.com/caramelomartins/awesome-linters/pull/74);
- [x] Added the project to [reviewdog/reviewdog](https://github.com/reviewdog/reviewdog/pull/431);
- [x] Added the project to [sdras/awesome-actions](https://github.com/sd

[2020-03-30 08:38] #129 closed

[2020-03-30 08:58] mstruebing commented on #130
Posting it on Reddit/HackerNews can also lead to a bunch of attention.
Getting in touch with someone who writes a weekly curated rust newsletter and ask if they could include the project in the next issue.
Blogposts are also good to go a little more in depth.

[2020-03-30 17:28] sonro commented on #118
Hi again! Happy to help with this one.

[2020-03-31 05:31] SaMuRa1ReM1X commented on #119
Hello, I would like to take this issue.

[2020-03-31 07:36] #118 closed

[2020-03-31 10:07] sonro commented on #127
I'll jump in on this one.

[2020-03-31 10:08] sonro commented on #127
Also, while looking at [cli_test.rs](https://github.com/mgrachev/dotenv-linter/blob/master/tests/cli_test.rs), I noticed a lot of the tests could be refactored using a helper function. Shall I implement that as well?

[2020-03-31 12:05] mgrachev commented on #127
@sonro Yes, it would be just great!

[2020-03-31 14:40] mgrachev commented on #127
You can also split the `cli_test.rs` file into several smaller ones files.

[2020-04-01 09:08] #119 closed

[2020-04-01 10:29] #127 closed

[2020-04-01 14:05] SaMuRa1ReM1X commented on #120
Hello, I would like to take this issue.

[2020-04-01 14:06] harshu4 commented on #122
Is this taken ? i will be happy to help

[2020-04-01 17:28] mgrachev commented on #120
@SaMuRa1ReM1X Sure! Thanks!

[2020-04-01 17:31] mgrachev commented on #122
@harshu4 👋I have assigned you 😃

[2020-04-02 16:43] pmk21 commented on #126
New to rust myself! Mind if I take this up?

[2020-04-02 17:00] mgrachev commented on #126
@mgrachev Thank you!

[2020-04-02 17:57] Am3ra commented on #125
I'll take this!

[2020-04-02 18:23] #126 closed

[2020-04-02 19:15] pmk21 commented on #128
I could take this up!

[2020-04-03 07:12] undef1nd commented on #123
Heya, I can give it a try :-)

[2020-04-03 07:16] undef1nd commented on #121
I guess it's similar to #123 , isn't it?  I'd take this one as well in such a case.

[2020-04-03 07:16] mstruebing commented on #121
It definitely is, go for it :tada:

[2020-04-03 07:19] undef1nd commented on #121
@mstruebing Cool. Plz, assign both to me. Thanks!

[2020-04-03 07:26] mstruebing commented on #116
Hey @mgrachev, I think in order to work on this I need access rights to the repository to create secrets in GitHub actions. Could you give me the rights temporarily until I've finished working on that issue?
After that, I would send you the key pair via send.firefox.com. (I will not do anything evil! :))

[2020-04-03 08:27] michaetto commented on #123
How about this: https://github.com/mgrachev/dotenv-linter/pull/141 ?
Not sure why to make reallocations for static strings.
I think other checker can be changed this way as well.
Also maybe cloning will not be needed if Warning type etc. are also borrowed with proper lifetimes,  make reallocation when it is actually needed (most likely in replace scenarios etc.)

[2020-04-03 08:31] michaetto commented on #123
@undef1nd do not hesitate to proceed with your solution, I've just only wanted to raise the topic of unnecessary reallocation with #141 as an example

[2020-04-03 08:51] mgrachev commented on #116
@mstruebing Hi! I've just done it.

[2020-04-03 10:32] undef1nd commented on #123
@michaetto But yours actually solves the problem, right? I don't have any objections against it being merged :-)

[2020-04-03 18:04] mgrachev commented on #123
@michaetto Thank you for raising the topic of unnecessary reallocations. I totally agree with you.
If you know how to optimize mu code - let me know 😃 Any help appreciated! 🙏

As I can see - you have done this issue, so I will assign this issue to you if you don't mind.

[2020-04-03 19:02] mgrachev commented on #123
@undef1nd Sure!

[2020-04-04 09:04] #128 closed

[2020-04-04 09:25] michaetto commented on #123
All right then :+1: , you have it here: #144

[2020-04-04 20:23] #121 closed

[2020-04-05 08:18] #120 closed

[2020-04-05 19:21] #124 closed

[2020-04-06 15:45] #122 closed

[2020-04-07 14:41] VishvajitP commented on #117
@mgrachev Can I take it ?

[2020-04-08 07:20] mgrachev commented on #117
@VishvajitP Sorry, but not, because @pineapplethief is already doing it.

[2020-04-08 13:04] #117 closed

[2020-04-08 15:28] mgrachev commented on #125
@Am3ra Hi! Is there any progress with this issue?

[2020-04-08 15:29] mgrachev commented on #112
@Macbet 👋Is there any progress with this issue?

[2020-04-10 07:08] #123 closed

[2020-04-14 13:40] pineapplethief commented on #125
I'll take it

[2020-04-14 13:41] mgrachev commented on #125
@pineapplethief Thank you! I've assigned you!

[2020-04-14 14:17] pineapplethief opened #150 "Trailing whitespace check?"
On one hand, it's trivial to setup text editor to trim trailing whitespace on save.
On the other hand, I, having this option set in my editor, constantly see trailing whitespace in other people projects, mostly as a gitspam of removing it from files I worked on. Apparently many developers don't care about trailing whitespace at all.
I'm not so sure if this is a needed check for .env files, but it

[2020-04-14 14:23] #125 closed

[2020-04-15 07:02] mstruebing commented on #150
I think it's a good idea to integrate. Thank you for that idea.

[2020-04-16 09:54] mgrachev commented on #150
@pineapplethief Thank you! It's a good idea! I've assigned this issue to you.

[2020-04-16 09:55] mgrachev opened #151 "Release v1.2.0"
What need to do:
- [x] Update documentation for the new API;
- [x] Release new version.

[2020-04-16 10:13] kjedamzik opened #152 "Please add a newline at end of file check"
I would be nice to have a check that makes sure there is a newline at end of file

[2020-04-16 16:13] mgrachev commented on #152
@kjedamzik 👋Thank you for the idea!

Would you like to do it?

[2020-04-16 16:20] mgrachev opened #153 "Update README"
What should be done:
- [x] Add project description;
- [x] Add logo.

[2020-04-18 09:38] mgrachev commented on #152
@uhbif19 Yes, you are right.
It needs to implement another checker which will check the last character of the file.

Please note that the current implementation uses the [reader.lines](https://github.com/mgrachev/dotenv-linter/blob/master/src/lib.rs#L115) method which returns a string without a newline.
https://doc.rust-lang.org/std/io/trait.BufRead.html#method.lines

[2020-04-18 13:13] uhbif19 commented on #152
Not sure if this is enough. If last line will be `something\n`, checking for last character will lead to false result.

[2020-04-19 09:38] #153 closed

[2020-04-19 12:26] mgrachev commented on #152
Yes, you are right. It needs to check two last characters.

[2020-04-20 09:08] #151 closed

[2020-04-22 07:25] mgrachev opened #162 "Update source url for dotenv-linter-git"
<img width="780" alt="Screenshot 2020-04-22 at 10 15 56" src="https://user-images.githubusercontent.com/700998/79952519-3ac82980-8483-11ea-8127-e3ff8067cab5.png">

It needs to update the source url from https://github.com/mgrachev/dotenv-linter to https://github.com/dotenv-linter/dotenv-linter

[2020-04-22 07:38] mstruebing commented on #162
It's updated, see: https://aur.archlinux.org/packages/dotenv-linter-git/

[2020-04-22 08:41] mstruebing commented on #152
What should happen if the ending of the file is something like:

`something\n\n`

should this be valid?

[2020-04-22 09:15] mgrachev commented on #162
@mstruebing Thank you! And please do the same in the https://aur.archlinux.org/packages/dotenv-linter-bin repository

[2020-04-22 09:21] mgrachev commented on #152
I guess yes

[2020-04-22 13:03] mstruebing commented on #162
Also done right now.

[2020-04-22 13:03] #162 closed

[2020-04-22 16:58] mgrachev commented on #130
@mstruebing Thanks a lot! I have updated the first message.

I guess we can promote the project regardless of the programming language.
Do you know any newsletters for any languages?

[2020-04-22 17:03] mgrachev commented on #162
@mstruebing Sorry, but I don't see any changes on this page https://aur.archlinux.org/packages/dotenv-linter-bin.

[2020-04-23 07:25] mstruebing commented on #162
Can you see it now?

[2020-04-23 07:32] mgrachev commented on #162
Yes, now I see 🙂

[2020-04-23 10:37] mgrachev commented on #130
I found this one https://github.com/zudochkin/awesome-newsletters

[2020-04-23 16:48] Neodelf commented on #23
I don't know exactly about the pros of this feature, but what do you think about creation `.env.example` file which gathers all variables from all `.env.*` (i.e. `.env.test`) files?
I mean it will help keep all available vars in one place.
In addition, this feature can insert an example of the meaning of each variable by regex-ing values from files.

[2020-04-24 08:46] mgrachev commented on #23
Thank you!
I think it will be useful, but the main task of dotenv-linter is to check `.env` files.

[2020-04-25 13:02] evgeniy-r commented on #104
I take this one.

[2020-04-27 08:52] #116 closed

[2020-04-27 18:22] #104 closed

[2020-04-28 14:24] evgeniy-r opened #167 "New check: "Extra blank line""
More than one empty line in a row.
Maybe, this check will be useful (some other linters have it).

[2020-04-28 15:06] mstruebing commented on #167
Just for clarification, do you mean something like this:

[code]

[2020-04-28 15:31] evgeniy-r commented on #167
Yes, exactly.

[2020-04-28 19:33] mgrachev commented on #167
@evgeniy-r It's a good idea! Thank you! Would you like to implement it? 😉

[2020-04-29 20:32] uhbif19 commented on #152
@mgrachev

What about `\r\n` style? Should it be supported?

https://en.wikipedia.org/wiki/Newline#Issues_with_different_newline_formats

[2020-04-30 07:55] mstruebing commented on #152
I would say yes:

`\r`, `\r\n` and `\n` should all be supported.

[2020-05-01 09:09] ypann opened #168 "disabling rules ?"
hi, this is a proposal.

it would be nice to have the possibility to disable some checks like the Unordered Key one.
Having unsorted keys in a .env does not make it invalid, and most of the time, we prefer grouping keys by block instead : like one block for database vars, another block for some used API vars, etc...

We would like to use dotenv-linter in shared CI/CD, but can't because of this rul

[2020-05-01 09:50] evgeniy-r commented on #152
I have taken this issue.

[2020-05-01 13:04] mgrachev commented on #168
@ypann It's a good idea, thank you.

We plan to release this feature in the next release.

[2020-05-02 11:00] mgrachev opened #171 "Add check: QuoteCharacter"
Example:

[code]

This check should display a message:

[2020-05-02 11:08] mgrachev opened #172 "Release v2.0.0"
What should be included in the new release **v2.0.0**.

New features:
- [x] New check: Trailing Whitespace (#150)
- [x] New check: Newline at the end (#152)
- [x] New check: Extra blank line (#167)
- [x] New check: Quote character (#171)
- [x] Ability to skip some checks (#168)
- [x] Add an argument to show available checks (#199)

Improvements:
- [x] Check files not from the current directory (#1

[2020-05-02 15:43] mstruebing commented on #172
Isn't that a case for v2?
I mean - I'm always unsure when thinking about versioning, but imagine someone who is using this tool in CI and updates and it turns red because there is some trailing white space or a missing newline.

To be clear: I don't want to say: fuck it we need to release v2.0 - I'm just unsure if it is the correct way to increase the feature version for this set of new additions.

[2020-05-02 18:01] ypann commented on #172
You could disable new checks by default, and provide a cli arg to enable them on demand.
Later you may change defaults on a v2.
That way you wont crash current users and still be able to add things and change defaults.

[2020-05-03 14:20] sourabhmarathe commented on #171
I can give this a shot

[2020-05-03 17:51] sourabhmarathe commented on #171
#174 is ready now

[2020-05-04 10:49] mgrachev commented on #172
I don't like the idea of increasing the major version every time we add a new check.

But I like the idea of adding more features to this release and making it v2.0.0 😃
What do you think about it?

[2020-05-04 10:52] mgrachev commented on #172
Thank you for your advice, but releasing v2.0.0 is easier than doing what you said.

[2020-05-05 13:15] evgeniy-r commented on #167
Yes, I can implement it, when we finish with https://github.com/dotenv-linter/dotenv-linter/pull/170.

[2020-05-05 15:47] mgrachev opened #175 "New check: TODO or FIXME"
Would it be useful if dotenv-linter checked `.env` files for such words in comments: `TODO`, `FIXME`?

[code]

Please vote 👍or 👎

[2020-05-06 07:43] mstruebing commented on #175
I personally don't think this is a good check to have.
If someone makes such a comment the person is aware of that and so the checker would fail if running in ci, maybe because it is even some thing that can not be fixed right now.

What would be your reasons to add this check? Maybe I'm missing a good case where it would be nice

[2020-05-06 09:20] mgrachev commented on #175
I have seen this check in other linters. For example:
* https://github.com/golangci/golangci-lint/pull/621
* https://docs.codeclimate.com/docs/fixme

It is only proposal, so if this check doesn't be useful, I will close the issue 😃

[2020-05-06 10:04] mstruebing commented on #175
Maybe other people think it is useful too, it's just my personal opinion and thoughts without further research :)

[2020-05-06 10:33] mgrachev commented on #175
Okay, we will wait for other opinions.

Please vote 👍or 👎

[2020-05-07 20:01] mgrachev opened #176 "KeyWithoutValueChecker: Replace String with &'a str"
Need to replace `String` with `&'a str` for `KeyWithoutValueChecker`:
[code]

[2020-05-07 20:46] #171 closed

[2020-05-08 07:53] #176 closed

[2020-05-09 18:04] mgrachev commented on #150
@pineapplethief Is there any progress?

[2020-05-11 17:17] evgeniy-r opened #179 "Check files not from the current directory"
I noticed that we can't check a file not from the current directory (or its subdirectories):

[code]

It is because `let strip_path = match result` in `lib.rs` (`StripPrefixError`).

Is this done on purpose?

[2020-05-11 20:07] mgrachev commented on #179
How, in your opinion, should dotenv-linter behave in this case?

[2020-05-12 05:23] evgeniy-r commented on #179
I think if the linter will check these files, it will be more understandable and predictable behavior.
At least, such behaviour should be described in the command help (but it is better to fix it - it doesn't look like a complicated task).
I understand that this is a rather rare case, but it looks confusing when you run into this issue.

We have at least two options:
* display the full path;
* use

[2020-05-12 07:42] #152 closed

[2020-05-12 16:26] evgeniy-r commented on #167
I have taken this one.

[2020-05-13 16:16] mgrachev commented on #179
Example if we display the full path:
[code]

To be honest, it looks a bit ugly.

[2020-05-13 19:37] evgeniy-r commented on #179
Maybe.

But it is still better then the linter just ignored this file. And it is a rather rare case.

Also we can want to use some linux commands on output (e.g. `head`, `tail`, `cut`) and so full paths are better.

Finally, we can add some formatting options in the future, that can fix this ugliness (if needed).

[2020-05-13 20:17] mgrachev commented on #179
I like this output format more:
[code]

And we can add an option to show the full path of the file in the future.

[2020-05-13 20:22] evgeniy-r commented on #179
It also allows you to get the exact location of the file (from the current directory).

So I think this will be OK too.

[2020-05-15 20:19] #167 closed

[2020-05-15 20:29] mgrachev opened #181 "DuplicatedKeyChecker: Replace String with &'a str"
Need to replace `String` with `&'a str` for `DuplicatedKeyChecker`:
[code]

[2020-05-15 20:29] mgrachev opened #182 "LowercaseKeyChecker: Replace String with &'a str"
Need to replace `String` with `&'a str` for `LowercaseKeyChecker`:
[code]

[2020-05-15 20:29] mgrachev opened #183 "SpaceCharacterChecker: Replace String with &'a str"
Need to replace `String` with `&'a str` for `SpaceCharacterChecker`:
[code]

[2020-05-15 20:29] mgrachev opened #184 "UnorderedKeyChecker: Replace String with &'a str"
Need to replace `String` with `&'a str` for `UnorderedKeyChecker`:
[code]

[2020-05-15 20:30] mgrachev opened #185 "EndingBlankLineChecker: Replace &'static str with &'a str"
Need to replace `&'static str` with `&'a str` for `EndingBlankLineChecker`:
[code]

[2020-05-15 20:30] mgrachev opened #186 "ExtraBlankLineChecker: Replace &'static str with &'a str"
Need to replace `&'static str` with `&'a str` for `ExtraBlankLineChecker`:
[code]

[2020-05-15 20:30] mgrachev opened #187 "IncorrectDelimiterChecker: Replace &'static str with &'a str"
Need to replace `&'static str` with `&'a str` for `IncorrectDelimiterChecker`:
[code]

[2020-05-15 20:30] mgrachev opened #188 "LeadingCharacterChecker: Replace &'static str with &'a str"
Need to replace `&'static str` with `&'a str` for `LeadingCharacterChecker`:
[code]

[2020-05-15 20:30] mgrachev opened #189 "QuoteCharacterChecker: Replace &'static str with &'a str"
Need to replace `&'static str` with `&'a str` for `QuoteCharacterChecker`:
[code]

[2020-05-16 05:52] pineapplethief commented on #150
@mgrachev sorry for long delay, but I think I did it
https://github.com/dotenv-linter/dotenv-linter/pull/190

[2020-05-16 16:38] #187 closed

[2020-05-20 19:48] #181 closed

[2020-05-21 08:36] #186 closed

[2020-05-21 16:37] #182 closed

[2020-05-21 16:44] #183 closed

[2020-05-21 16:47] #184 closed

[2020-05-23 11:17] #189 closed

[2020-05-23 13:55] mgrachev opened #199 "Add an argument to show available checks"
To skip some checks, we need to know which checks are available in the dotenv-linter.

[code]

[2020-05-23 14:10] #185 closed

[2020-05-23 16:34] #188 closed

[2020-05-23 16:42] #168 closed

[2020-05-25 08:52] DDtKey commented on #23
@mgrachev what do you think about `help` argument?

Clap (crate) allows you to output all arguments using write_help () as follows:
[code]

[2020-05-25 11:50] mgrachev commented on #23
Hmmm. Why do we need such an argument if we already have flags: `-h, --help`?

[2020-05-25 12:07] DDtKey commented on #23
I apologize if I misled. We do not have this flag at the moment.
I locally did proof of concept

[2020-05-26 07:40] #199 closed

[2020-05-26 08:23] DDtKey opened #204 "EndingBlankLineChecker: refactor last line check logic"
At the moment, to apply the checks of the last line, the logic goes beyond the scope of `EndingBlankLineChecker`.
There are additional external conditions for applying this check in the `checks::run` function.
This distinguishes this check from the general checks API.

I suggest adding a field with a total number of lines to `FileEntry`, like:
`pub total_lines: usize,`

In turn, `impl LineEntry`,

[2020-05-27 05:12] evgeniy-r opened #205 "Character case in keys (DuplicatedKeyChecker)"
Key uniqueness is case-sensitive now (A != a).

It seems to be correct (because these are different variables). But I think we can add a comment about this and a test, because if we check a file and then fix warnings about lowercase names, we can get duplicated keys.

[2020-05-27 05:21] evgeniy-r commented on #204
Just in case, `reader.lines()` returns an iterator, so it seems that to get `count()` we must read all lines.

[2020-05-27 08:26] DDtKey commented on #204
In fact, this is just an example. But, in fact, the `lines()` iterator itself is lazy (we don’t load them into memory), but yes, to count, we really need to go through the file anyway.

Otherwise, if you do not count the number of lines, it becomes difficult to put them in `FileEntry` persistently. Updating each `FileEntry` after a pass seems unobvious and redundant.

I think there are other optio

[2020-05-27 09:18] evgeniy-r commented on #204
Actually, I have written the comment because it was my first idea, when I saw this TODO )

We can also read the entire file (with `std::fs::read` for example) and then work with its contents in memory.

[2020-05-27 09:33] mgrachev commented on #179
Great! I would like to see these changes in the next release 2.0.0.

[2020-06-03 10:48] #150 closed

[2020-06-03 12:11] #130 closed

[2020-06-04 10:40] DDtKey commented on #179
This task has not yet been assigned?
I could be engaged in implementation, but, apparently, I need to wait for the review for #207 (acceptance or rejection), because there is an affected part.

[2020-06-08 18:04] #204 closed

[2020-06-09 10:06] #179 closed

[2020-06-09 15:30] mgrachev commented on #114
We can use the action [bump-homebrew-formula-action](https://github.com/mislav/bump-homebrew-formula-action), but right now it doesn't support multiple urls - https://github.com/mislav/bump-homebrew-formula-action/issues/5.

[2020-06-11 10:39] mgrachev opened #212 "Support Windows"
This issue keeps all things related with Windows support.

What should be done to support Windows:
- [x] Add windows publishing to release workflow (#211)
- [x] Make sure that all features of dotenv-linter work well on Windows (with proofs)
  - [x] All checks
  - [x] All flags and arguments
  - [x] All tests are passed (including integration tests) (#213)
  - [x] Other things (#179)
- [x] Prepare

[2020-06-11 13:15] DDtKey commented on #212
I did a little research and some tests.

There is good news, but also a small игп (I really think this is less than what could be expected).

In order:
### 1. The `dotenv-linter` build for Windows works great for publishing

I completely reproduced the build steps from #211
<details>
  <summary>Proofs / Build Output</summary>

[code]
![photo_2020-06-11_15-24-16](https://user-images.githubuserconte

[2020-06-11 13:25] DDtKey commented on #212
@mgrachev
In accordance with the results above, for full support, we need to make a more cross-platform output of the result.
Integration tests will need to be tested.

Perhaps you really need to write a specific test (with platform `#cfg()`?) for Windows and, as an option, also run them at the CI stage.

Perhaps some research is not enough and I will be glad to discuss this :relaxed:

[2020-06-11 13:55] mgrachev commented on #212
Thanks a lot! You've done great work! 🔥

What output will we get if we run dotenv-linter with a file or a path located outside of the current directory?

I don't see in `Full output` that you ran integration tests.

[2020-06-11 14:05] mgrachev commented on #212
What should the output look like in Windows, in your opinion?

[2020-06-11 14:36] DDtKey commented on #212
_It also works correctly, but the output of the full path is the same as for the current folder_

<details>
<summary>Details</summary>

[code]

![outdir](https://user-images.githubusercontent.com/26835520/84398408-96539f80-ac08-11ea-8438-a6805d38913a.jpg)

</details>

Sorry, forgot. It's large output, but it's about unexpected paths

<details>
<summary>Full Output</summary>

As file: [integrate_ou

[2020-06-11 14:40] DDtKey commented on #212
I think this should be same as for *nix platforms.
Relative path from current dir instead full path with ugly prefix (`\\?\C:\`)
For example: `..\test\incorrect.env`

[2020-06-11 15:34] mgrachev commented on #212
More information about paths: https://docs.microsoft.com/ru-ru/windows/win32/fileio/naming-a-file

[2020-06-11 15:35] mgrachev commented on #212
We use the `std::fs::canonicalize` method and I see that the problem in that method
https://github.com/rust-lang/rust/issues/42869

[2020-06-11 19:58] DDtKey commented on #212
Perhaps a good opportunity to participate in the development of the Rust ecosystem :smile:

At the moment, we can go in two ways:
1. Use the [dunce](https://crates.io/crates/dunce) crate
2. Write a utility function that removes UNC part (`\\?\C:`) for windows. Similar to:
[code]

I can do this, but I want to know your opinion, @mgrachev . After that, I’ll definitely make PR and check the performan

[2020-06-15 07:25] mgrachev commented on #172
We did it! 🎉
https://github.com/dotenv-linter/dotenv-linter/releases/tag/v2.0.0

[2020-06-15 07:25] #172 closed

[2020-06-15 08:07] mstruebing commented on #116
Just FYI, the release to the AUR worked :tada:

[2020-06-15 08:59] mgrachev commented on #116
@mstruebing You have done a great work! Thanks a lot! 🔥

[2020-06-18 12:10] #212 closed

[2020-06-18 16:04] mgrachev opened #217 "Release v2.1.0"
What should be included in the new release v2.1.0.

Features:
- [x] Windows support (#211, #213, #216)
- [x] Recursive search for `.env` files (#223)

Improvements:
- [x] Optimize integration tests (#218)
- [x] Consider blank lines in UnorderedKey check (#221)

infrastructure:
- [x] Provide more short way to install dotenv-linter (#220)

---

What do you think should be included in the new release

[2020-06-19 09:19] DDtKey commented on #217
It seems to me that it would be nice to do #112 as well, and it is possible to release a version as _"infrastructure improvements"_.
Perhaps the minor version can be quite lightweight, in addition, it unlocks the Scoop bucket and installer.

[2020-06-22 08:50] DDtKey commented on #112
I'll try implement this.

[2020-06-26 18:00] wesleimp opened #225 "Flag to fix lint errors"
It would be nice to have a `--fix` flag to fix all lint errors.

[code]

I'm not sure how to `--fix-type` could works. I don't know what is the best approach. I have considered two options
- multiple flags: `dotenv-linter --fix-type ExtraBlankLine --fix-type LowercaseKey`
- comma separator: `dotenv-linter --fix-type "ExtraBlankLine,LowercaseKey"`

[2020-06-27 08:24] mstruebing commented on #225
What would be great and most usable of course would be to make both options work.

I'm totally for this feature, but one thing to consider here is maybe to make a backup file:
When manipulating files something can go wrong and we will have some bugs I think.
Also `.env` files are usually not version control system tracked as they contain access tokens etc.

So I would suggest when implementing thi

[2020-06-29 13:02] mgrachev commented on #225
It's a great feature, but before we do that I'd like to think about how to implement it better.

Maybe we'll take to work this feature in the next release after [v2.1.0](https://github.com/dotenv-linter/dotenv-linter/issues/217).

[2020-07-03 12:30] wesleimp opened #229 "Change repository link to the docs"
The repository link is currently referencing www.mgrachev.com/projects. It would be nice to have it referencing to the [docs](https://dotenv-linter.github.io).

[2020-07-03 12:48] mstruebing commented on #229
I completely agree. It looks like @mgrachev is the only one able to change that.
@mgrachev can you do it?

[2020-07-03 19:27] mgrachev commented on #229
Yes, I'll do it soon 🙂

[2020-07-06 10:22] mgrachev opened #231 "Update actions/cache to v2"
https://github.com/actions/cache/blob/master/examples.md#rust---cargo

[2020-07-07 16:16] mgrachev opened #232 "Replace FileEntry::get_content_by_path with fs::read_to_string"
Replace the [FileEntry::get_content_by_path](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common.rs#L88) method with [fs::read_to_string](https://doc.rust-lang.org/std/fs/fn.read_to_string.html).

[2020-07-08 10:08] mgrachev commented on #229
Done ⚡️

[2020-07-08 10:08] #229 closed

[2020-07-08 12:29] #232 closed

[2020-07-08 20:21] #112 closed

[2020-07-10 18:29] mgrachev opened #237 "Proposal: Control comments"
Now we can skip checks for only all files (globally):
[code]

It would be great if we could skip comments for a specific file or line using comments:
[code]

Control comments take precedence over the `--skip` argument. So, if we run `dotenv-linter` with the argument `--skip UnorderedKey` and we also have the comment in the `.env` file like this:
[code]
This check won't be disabled.

@dotenv-linter

[2020-07-13 09:25] #217 closed

[2020-07-13 13:18] DDtKey commented on #237
I think this is useful control control method.
Once I thought about the ability to configure certain parameters for files via `yaml` configuration file, but it seemed to me in a bulky way for such an easy linter :sweat_smile:
You suggestion seems better for checks and fixes inside file and this makes it possible to ignore certain lines :+1:

[2020-07-13 13:29] mgrachev commented on #237
Maybe, in the future, we'll think about how to better implement this feature 🤔

[2020-07-13 13:33] mgrachev opened #238 "Release v2.2.0"
What should be included in the new release v2.2.0.

Features:
- [x] Flag to fix lint errors (#225)
  - [x] Add fixer: LowercaseKeyFixer (#228)
  - [x] Add fixer: KeyWithoutValueFixer (#247)
  - [x] Add fixer: SpaceCharacterFixer (#250)
  - [x] Add fixer: DuplicatedKeyFixer (#243)
  - [x] Add fixer: EndingBlankLineFixer (#244)
  - [x] Add fixer: ExtraBlankLineFixer (#245)
  - [x] Add fixer: Incorre

[2020-07-23 20:59] GaboFDC commented on #23
what about allowing to have a config file, where the excluded checks are defned?

[2020-07-23 21:08] DDtKey commented on #23
Thanks, that's a good idea!
In general, we have already partially begun to move in this direction (#237)

[2020-08-10 11:47] DDtKey opened #243 "Add fixer: DuplicatedKeyFixer"
Implement `trait Fix` to fix warnings caused by `DuplicatedKeyChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

I think this fixer should remove duplicate keys.
For example:
[code]
After running `DuplicatedKeyFixer` it should look like this:
[code]

Implementation example: [Low

[2020-08-10 11:54] DDtKey opened #244 "Add fixer: EndingBlankLineFixer"
Implement `trait Fix` to fix warnings caused by `EndingBlankLineChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 11:55] DDtKey opened #245 "Add fixer: ExtraBlankLineFixer"
Implement `trait Fix` to fix warnings caused by `ExtraBlankLineChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:00] DDtKey opened #246 "Add fixer: IncorrectDelimiterFixer"
Implement `trait Fix` to fix warnings caused by `IncorrectDelimiterChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

It is worth discussing the wa

[2020-08-10 12:06] DDtKey opened #247 "Add fixer: KeyWithoutValueFixer"
Implement `trait Fix` to fix warnings caused by `KeyWithoutValueChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

[code]

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:12] DDtKey opened #248 "Add fixer: LeadingCharacterFixer"
Implement `trait Fix` to fix warnings caused by `LeadingCharacterChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

[code]

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:15] DDtKey opened #249 "Add fixer: QuoteCharacterFixer"
Implement `trait Fix` to fix warnings caused by `QuoteCharacterChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

[code]

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:18] DDtKey opened #250 "Add fixer: SpaceCharacterFixer"
Implement `trait Fix` to fix warnings caused by `SpaceCharacterChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

[code]

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:20] DDtKey opened #251 "Add fixer: TrailingWhitespaceFixer"
Implement `trait Fix` to fix warnings caused by `TrailingWhitespaceChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowercase_key.rs)

[2020-08-10 12:22] mgrachev commented on #243
What do you think about commenting a duplicated key instead of removing it?

[2020-08-10 12:26] DDtKey opened #252 "Add fixer: UnorderedKeyFixer"
Implement `trait Fix` to fix warnings caused by `UnorderedKeyChecker`.
And add this `Fix` to the `fixlist` in [fixes.rs](https://github.com/dotenv-linter/dotenv-linter/blob/cf176993360215596c079873725f4a4b7a48f5b0/src/fixes.rs#L32)

[code]
**Important**: _sorting within groups_

Implementation example: [LowercaseKeyFixer](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fixes/lowerca

[2020-08-10 12:26] mgrachev commented on #246
I like this approach 👍

[2020-08-10 12:27] evgeniy-r commented on #252
I take this one.

[2020-08-10 12:28] DDtKey commented on #243
Yes, maybe this is a good approach :+1:
At least until we have backups.

[2020-08-10 12:42] DDtKey commented on #250
I'll take it :)

[2020-08-10 17:23] lensvol commented on #249
I can take it if you don't mind. :)

[2020-08-10 17:39] DDtKey commented on #249
Of course, we will be glad for any help :relaxed:

[2020-08-10 19:45] gregcline commented on #251
I'd like to give this a try.

[2020-08-10 19:57] norraell commented on #248
I would like to take this one.

[2020-08-11 08:07] #250 closed

[2020-08-11 09:15] #247 closed

[2020-08-11 10:52] DDtKey commented on #238
What do you think about backup files before fixing? This approach using a lot of linters.

But, maybe it is a good issue for the next release (2.3.0?)

[2020-08-11 11:12] piegamesde opened #256 ""Lightning-fast because it is written in Rust""
Please remove this line from the README. Writing an application in one programming language over another won't magically make it faster. On the other hand, I've seen this attitude of associating programming languages with their performance cause quite some harm in the past.

[2020-08-11 11:59] mstruebing commented on #256
Would you suggest to just remove it or replace it with something else?

[2020-08-11 12:01] mstruebing commented on #238
I think for this tool this should be somehow mandatory - `.env` files are typically not versioned with a version control system like git. So if the tool would mess up something your `.env` would be lost and it can lead to a lot of work to recreate all values.

[2020-08-11 13:16] piegamesde commented on #256
Honestly, I don't care. If it's really that fast, there's no reason to hide it. Some benchmarks or comparison with similar software would give credibility to that claim – simply saying "It's fast" usually isn't enough for people to believe it.

As an example, [from Exa](https://the.exa.website):

[2020-08-11 14:51] mgrachev commented on #256
👋 Hi there! Thank you, for your opinion!
I'm sorry, but I think so and I like this phrase 🙂

I've been already working on writing benchmarks to compare `dotenv-linter` with a similar tool.
I'll definitely add benchmarks to the README soon, but for now I'll close this issue ✌️

[2020-08-11 14:51] #256 closed

[2020-08-11 14:54] DDtKey commented on #256
To be honest, I don't see magic in this.
This phrase does not mean that you will get worse performance using another language :thinking:

You are correct that you can write slow code regardless of the programming language.
But Rust follows the concept of zero cost abstraction. Which makes it much easier to write high-performance code and the peculiarities of the language in every possible way "int

[2020-08-11 16:55] mgrachev commented on #238
Good catch! I've forgotten about this feature. This feature should be in this release.

[2020-08-13 10:45] #251 closed

[2020-08-13 17:28] gillespiecd commented on #246
I'd like to take this on, based on the comment above, I can change any invalid characters to "_".

[2020-08-14 03:47] baile320 commented on #244
I was taking a look at this, and I'm running into an issue when implementing.

I was thinking something like this should work:
[code]
but what ends up happening is that if we have a file like, e.g.

[code]
The newline gets added by the THIS=THAT line gets completely deleted. I guess because of this line of code: https://github.com/dotenv-linter/dotenv-linter/blob/master/src/fs_utils.rs#L43, which

[2020-08-14 08:57] evgeniy-r commented on #244
Hi!
I think, I can help, but I'm little busy right now, I will write you later (maybe tomorrow).

[2020-08-14 09:18] diggymo commented on #245
Hi. May I try it if you like?

[2020-08-14 09:26] mgrachev commented on #245
Sure! 👍

[2020-08-14 09:42] diggymo commented on #245
I have a question.

`Fix` trait's function `fix_line` has `_line`argument. But ExtraBlankLineFixer can't use function `fix_line`. Because a warning line needs to be deleted, not modified.

[code]

so, is it better to add new function `fn fix_multiple_lines(&self, _line: &mut Vec<LineEntry>) -> Option<()>` in trait `Fix`?

[2020-08-14 10:01] DDtKey commented on #245
In this case, I think you can just override `fix_warnings(&self, warnings: Vec<&mut Warning>,  lines: &mut Vec<LineEntry>)` and specify necessary logic which removes extra lines :)

[2020-08-14 10:07] diggymo commented on #245
I'm sorry I didn't notice. Thank you.

[2020-08-14 11:41] baile320 commented on #244
Thank you! No hurry... I can probably find a few solutions, but I wouldn't be sure if there is a preferred one, so I appreciate the help 👍

[2020-08-14 12:36] #249 closed

[2020-08-16 08:17] evgeniy-r commented on #244
Hello again!

When `Fix` trait was implemented (https://github.com/dotenv-linter/dotenv-linter/pull/228) I assumed that there are two groups of fixes: some can be implemented by working only with the line that caused warning, for others you need to work with the entire line collection.

I think that this fixer belongs to the secong group. So you can implement the `fix_warnings` method instead of t

[2020-08-16 08:30] evgeniy-r commented on #244
We are modeling an ending blank line as a separate line entry:
https://github.com/dotenv-linter/dotenv-linter/blob/612e1a96a0f1645dab1c9b16a2f0eddb2a9046a7/src/common.rs#L79

So I think it would be consistent to fix this warning by adding a separate line entry.

[2020-08-16 13:13] baile320 commented on #244
No, I think that makes sense and is much easier than what I was trying. Thanks for pointing me in the right direction!

[2020-08-17 15:00] baile320 commented on #238
I saw there wasn't an issue filed for "Backup files before fixing" - does anything about this feature need to be discussed? Or is the requirement to just to append "_(timestamp)" to the filename (.env -> .env_20200817T09:58:32)? Is there a preference on the timestamp format?

I'd gladly submit a PR for this feature if someone is willing to clarify the requirements! 👍

[2020-08-18 14:35] mgrachev commented on #238
I like that proposal 👍

[2020-08-19 20:46] gillespiecd opened #268 "Display file names being scanned"
Since the program doesn't output anything when files don't have warnings, as a user, I would like to see which files have been scanned, especially in the case of a deeply nested recursive situation.

[code]

I'm happy to take this on if owners feel like this would be a useful addition to the project.

[2020-08-20 11:17] mgrachev commented on #268
@gillespiecd Thank you for your proposal!

I have some questions:
1. We already display information on how many problems we found. Also, we already have the `--quiet` argument not to display additional information. Maybe this feature should work by default?
2. Will this feature work with only checks?  What about fixers?
3. What the output will look like for different cases? Please give some exampl

[2020-08-20 15:27] gillespiecd commented on #268
[code]

This sounds the best to me 👍

[2020-08-20 15:34] mgrachev commented on #268
Before that I'd like to see other opinions on this
/cc @dotenv-linter/core

[2020-08-20 16:11] #205 closed

[2020-08-20 17:59] #231 closed

[2020-08-20 19:39] #244 closed

[2020-08-21 01:37] baile320 commented on #238
I added a draft PR #272 addressing that, and there are some comments/questions that I have in there before it gets reviewed & merged

[2020-08-26 12:35] #248 closed

[2020-08-26 12:48] #243 closed

[2020-08-26 22:24] gillespiecd opened #276 "Non zero exit code for success"
To reproduce, scan a file with an unfixed error, e.g. extra blank lines:
1. `cargo run -- -f`
2. `echo $?` returns 1

The reason is that this line gets called for several different branches https://github.com/dotenv-linter/dotenv-linter/blob/master/src/main.rs#L51

It doesn't seem correct to return an exit code of 1 unless there is some issue with the code execution.

[2020-08-27 17:06] #245 closed

[2020-08-29 09:28] mgrachev commented on #276
Hmm, we've already discussed this topic earlier.
Look at this https://github.com/dotenv-linter/dotenv-linter/issues/47

[2020-08-29 15:43] gillespiecd commented on #276
Thanks, I missed that earlier, we can close 👍

[2020-08-29 15:43] #276 closed

[2020-08-31 15:51] DDtKey opened #278 "ExtraBlankLineFixer with control comments work incorrectly"
I found a bug when we run dotenv-linter with control comments(#237) and `--fix` flag (now specific for ExtraBlankLineFixer #260).
This is because the fixer works on all line collection without matching `Warning` line number or re-checking the control comments.

<details>
<summary> Example </summary>

[code]

After run `dotenv-linter -f .env` we will receive next result:

[code]

With output:
[code

[2020-09-01 12:03] mgrachev commented on #278
Good catch! Thank you 👍

I'm pretty busy right now, I'll think about it soon 🤔

[2020-09-02 09:05] mgrachev commented on #278
Maybe we will mark all extra blank lines as deleted and remove them after running all fixers?

I have made the PR with this concept https://github.com/dotenv-linter/dotenv-linter/pull/279 👀

[2020-09-02 11:57] DDtKey commented on #278
I like this approach!
It sounds concise and much easier! :rocket:

A little later I will look at the PR and think about this, thank you :+1:

[2020-09-02 12:06] DDtKey commented on #278
@mgrachev I will draw your attention to the only thing is, it will not help in the case of `UnorderedKey`... :thinking:
There we have to find another solution. Or make something more universal, hm

[2020-09-02 12:33] mgrachev commented on #278
Thanks! I will think about it too.

[2020-09-08 03:11] alshdavid commented on #23
It might be out of the scope of this project but it would be great if your utility could also inject the values into the current shell/bash/cmd/etc session.

It's really hard to import environment variables from a dotenv file to a OS in a way that is platform agnostic

Something like:

[code]

[2020-09-08 06:43] mstruebing commented on #23
Hey @alshdavid, thank you for your idea but to be honest I think this is out of scope as you already mentioned.

[2020-09-13 13:16] bryantbiggs commented on #23
great tool btw, thank you! it would be cool if it had the ability to diff across files to compare say `.env.local` and `.env.dev` or even compare all `.env*` in a directory to know which files might be missing values

[2020-09-15 14:03] mgrachev commented on #23
Thank you! We will think about it soon.

[2020-09-15 23:09] mstruebing commented on #23
A cool idea, I really like that to be honest.

[2020-09-19 10:02] #278 closed

[2020-09-23 14:56] #252 closed

[2020-09-23 14:58] mgrachev commented on #225
This feature will be available in [v2.2.0](https://github.com/dotenv-linter/dotenv-linter/issues/238) 🎉

[2020-09-23 14:58] #225 closed

[2020-09-24 20:51] evgeniy-r opened #285 "Some fixers can spawn new warnings (e. g. LowercaseKey)"
Before fix:
[code]

After fix:
[code]

We will get new `UnorderedKey` and `DuplicatedKey` warnings if we check this file again.

I propose to change the conditions when the `UnorderedKey` and `DuplicatedKey` fixers apply, and also make some changes in the `DuplicatedKey` fixer.

I will prepare the PR.

[2020-09-25 09:50] mgrachev commented on #285
@evgeniy-r Good catch! 👍 Thank you!

[2020-09-25 11:16] #175 closed

[2020-09-25 11:37] mgrachev opened #286 "New check: Short key"
`dotenv-linter` can check `.env` files for short keys (equal to 1 character):

[code]

@dotenv-linter/core What do you think about it?

[2020-09-25 12:43] mstruebing commented on #286
Is this widely accepted practice? I didn't hear about that before

[2020-09-25 14:30] mgrachev commented on #286
I didn't hear about that before too, but from my point of view environment variables with short keys are not informative.

[2020-09-26 23:44] mstruebing commented on #286
I'm not against it but I think if we implement this it would be cool to have an opt-in mechanism for that

[2020-09-28 08:37] mgrachev commented on #286
What do you mean? Can you give an example?

[2020-09-28 08:47] mstruebing commented on #286
So that you need to explicitly enable this check instead of disabling it.

I think this is a **highly opinionated check** and therefore should not be enabled by default.
People who want to use it would be able to activate it, say via a flag or configuration file and everyone else wouldn't be bothered by it.

Or do you think it would be good to have this activated by default?

[2020-09-28 13:20] mgrachev commented on #286
From my point of view, all checks should be enabled by default. If a check should be disabled by default we shouldn't include such checks in our project.

I don't know. It's just an idea and I'd like to know the opinion about it 🙂

[2020-09-28 14:03] #285 closed

[2020-09-29 03:00] DDtKey commented on #286
Thanks for the idea, really such properties do not make sense as a rule, but they are valid and I don't think it's a good idea to consider it a `Warning` by default.

Also, the only way to fix it is to comment out or delete it, but really, the user just needs to think about the new name for variable.

[2020-09-29 09:19] mgrachev commented on #286
Agree. Thank you for your opinions! I will close the issue.

[2020-09-29 09:19] #286 closed

[2020-10-01 07:57] mgrachev commented on #268
I'd like to see something like this if we run `dotenv-linter` without any arguments:
[code]

If we run `dotenv-linter` with the `--quiet` argument:
[code]

If we run `dotenv-linter` with the `--fix` argument:
[code]

@dotenv-linter/core What do you think?

[2020-10-01 08:22] mgrachev opened #290 "Add CARGO_TERM_COLOR to CI"
Add env `CARGO_TERM_COLOR` to:
* [CI workflows](https://github.com/dotenv-linter/dotenv-linter/blob/master/.github/workflows/ci.yml)
* [Release workflows](https://github.com/dotenv-linter/dotenv-linter/blob/master/.github/workflows/release.yml)

Links:
https://doc.rust-lang.org/cargo/reference/config.html#termcolor

[2020-10-01 08:24] mgrachev opened #291 "Add colored output and --no-color argument"
Unfinished PR https://github.com/dotenv-linter/dotenv-linter/pull/240

[2020-10-01 08:27] mgrachev opened #292 "Add additional test for LineEntry.get_value"
Add an additional test for [LineEntry.get_value](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/line_entry.rs#L38) to make sure it works correctly with quotes:
[code]

[2020-10-01 08:31] mgrachev opened #293 "Add check_output function for integration tests"
Add the `check_output` function similar to [fix_output](https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/common/output.rs#L3) and use it in integration tests. For example:
* https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/checks/extra_blank_line.rs#L28
* https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/checks/ending_blank_line.rs#L35

[2020-10-01 09:19] vvkpd commented on #292
I would like to work on this card, could you please assign to me.
Thanks

[2020-10-01 09:25] mgrachev opened #294 "Write an integration test for all fixers"
Write an integration test for all fixers to make sure that all fixers work properly together.

Requirements:
* Using all possible variants of fixers;
* Using files for comparison (`.env` - with problems, `.env.golden` - expected result);
* Using control comments.

[2020-10-01 09:31] mgrachev opened #295 "Add ability to install the latest version via homebrew"
For example:
[code]

Homebrew formula's repository:
https://github.com/dotenv-linter/homebrew-tap

Links:
https://docs.brew.sh/Formula-Cookbook#unstable-versions-head

[2020-10-01 11:20] Kitwradr commented on #290
I would like to work on this

[2020-10-01 11:27] mgrachev commented on #290
I'm sorry, but @skippednote has already solved this issue 😕

[2020-10-01 11:28] #290 closed

[2020-10-01 11:50] Nikhil0487 commented on #291
@mgrachev

 I will look around the code base and give this issue a try.

[2020-10-01 13:12] mgrachev commented on #291
Thank you! I have assigned this issue to you 😉

[2020-10-01 16:45] humancalico commented on #295
Hey @mgrachev, I will work on this.

[2020-10-01 16:50] humancalico commented on #295
Oops, didn't see there was an open PR by @jasLogic. I'll work on some other issue

[2020-10-01 17:23] #295 closed

[2020-10-02 06:23] evgeniy-r commented on #294
I take this one.

[2020-10-02 11:21] mgrachev opened #300 "Add action-yamllint"
Add `action-yamllint` to lint `yaml` files.

Link:
https://github.com/reviewdog/action-yamllint

[2020-10-02 11:25] mgrachev opened #301 "Add action-misspell"
Add `action-misspell` to correct commonly misspelled English words in source files.

Link:
https://github.com/reviewdog/action-misspell

[2020-10-02 11:26] mgrachev opened #302 "Add action-shellcheck"
Add `action-shellcheck` to lint shell scripts.

Link:
https://github.com/reviewdog/action-shellcheck

[2020-10-02 12:49] vk26 commented on #300
Hi! I take this )

[2020-10-02 14:56] #302 closed

[2020-10-02 15:37] PurpleMyst commented on #301
Working on this.

[2020-10-02 15:40] PurpleMyst commented on #301
What locale do you want me to utilize?

[2020-10-02 15:46] mgrachev commented on #301
UK

[2020-10-02 23:22] Anthuang commented on #293
Could I take this?

[2020-10-03 10:55] #301 closed

[2020-10-03 10:58] mgrachev commented on #293
Sure!

[2020-10-04 14:44] vvkpd commented on #292
Hey @mgrachev,
                           Thanks for the chance to contribute in this open source project. I made the changes and raised the pr as well. Could you please review it and let me know if there anything else remains in this pr.
Thanks

[2020-10-04 15:03] vvkpd commented on #292
Hey @mgrachev
A small suggestion: Could you please add **hacktoberfest** in topic of _dotenv-linter_ repo?
Background: I am participating in **hacktoberfest 2020**, since this repo does not have hacktoberfest topic that's why My raised pr is not applicable for hacktoberfest 2020.
Thanks

[2020-10-05 14:30] mgrachev commented on #292
I have done it. Thank you for participating! ❤️

[2020-10-05 18:16] #293 closed

[2020-10-05 21:59] Anthuang commented on #268
I'd like to give this a try!

[2020-10-05 23:44] Anthuang opened #310 "Make backup an option when fixing"
I'm suggesting that backups are made optional. When passing in the `-f, --fix` flag, I have the assumption that the linter will automatically fix the issues for me, so I have no need for the backups. Even if this assumption is not shared by others, it could still be useful to provide an option of disabling it to avoid having to explicitly remove the backups one by one.

Noticed this issue when run

[2020-10-05 23:55] #310 closed

[2020-10-05 23:55] Anthuang commented on #310
Just realized this option already exists :)

[2020-10-06 08:44] #292 closed

[2020-10-06 10:55] mgrachev opened #312 "Remove unused CARGO_TERM_COLOR in shellcheck"
https://github.com/dotenv-linter/dotenv-linter/blob/master/.github/workflows/shellcheck.yml#L5

[2020-10-06 11:15] MusiKid commented on #312
I would like to work on this issue !

[2020-10-06 13:12] #312 closed

[2020-10-09 08:41] #294 closed

[2020-10-09 08:43] mgrachev commented on #300
@vk26 Do you have any progress on this?

[2020-10-09 09:20] mgrachev commented on #238
All tasks have been done, so we are ready to release v2.2.0 🎉
I am going to open PR of the release today and merge it on Monday 🎈

Thanks to everyone who helped and took part in the preparation of this release ❤️

[2020-10-10 15:37] vk26 commented on #300
@mgrachev Hi! I did PR [#317](https://github.com/dotenv-linter/dotenv-linter/pull/317)

[2020-10-12 07:03] #238 closed

[2020-10-12 07:16] mgrachev opened #318 "Update CI action"
The `set-env` command is deprecated and will be disabled soon. Please upgrade to using Environment Files.
For more information see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands.

[2020-10-12 07:42] marcodenisi commented on #318
Hi, can I work on this one?

[2020-10-12 08:31] mgrachev opened #321 "Add Dockerfile check to CI"
We ran into  a problem while building a new release via Docker:
[code]

Fix: https://github.com/dotenv-linter/dotenv-linter/pull/319

To avoid such problems in the future we should check `Dockerfile` for a successful build in CI workflow.

[2020-10-12 15:55] #318 closed

[2020-10-13 03:16] JoeAmedeo commented on #321
I can take a stab at this if you would like, can put up a PR in a bit.

[2020-10-13 10:41] ben-eb commented on #23
We use https://www.npmjs.com/package/dotenv-safe to make sure that any missing environment variables are flagged at runtime. It might be nice to have an option in this tool to check a `.env` file against an example env to make sure that there are no missing variables. 🙂

[2020-10-13 11:02] mgrachev commented on #23
It seems to me that @mstruebing has already opened a PR with similar functionality https://github.com/dotenv-linter/dotenv-linter/pull/282 🤔

[2020-10-13 11:29] ben-eb commented on #23
@mgrachev Thanks, that's great news! 👍

[2020-10-14 06:44] #321 closed

[2020-10-15 15:51] halostatue opened #323 "Invalid linting on .envrc (direnv) files"
[direnv](https://direnv.net) uses `.envrc` files which are bash scripts, and `dotenv-linter` is attempting to parse those. When I ran `dotenv-linter`, I got the following as errors:

[code]

All of these are _correct_, because they are functions in either the `direnv` standard library or in an extension that I have on my computer.

As direnv-based `.envrc` files are not merely `.env` files but ful

[2020-10-15 17:20] #300 closed

[2020-10-15 17:30] mgrachev commented on #323
@halostatue 👋 Thank you for letting us know 👍

To avoid this problem, please run `dotenv-linter` with the `--exclude` argument:
[code]

[2020-10-15 17:32] mgrachev commented on #323
@dotenv-linter/core I think we can add `.envrc` to an ignore list by default. What do you think about it?

[2020-10-15 18:16] mstruebing commented on #323
Yep, would say so :+1:

[2020-10-16 16:04] metalon commented on #323
I wanna take a shot at it

[2020-10-17 18:43] ametalon opened #325 "Linter rechecks files if they were listed more than once"
Create 3 files in one dir:
[code]

Listing whole dir twice leads to each file being checked twice:
[code]

Listing file `.env.a` and whole dir works as expected:
[code]
Hovewer, listing file `.env.b` and whole dir leads to the file being checked twice:
[code]

I guess the issue is here https://github.com/dotenv-linter/dotenv-linter/blob/281a2030aa66bd3d3dcbbabb1636659548e96a98/src/lib.rs#L101-L103

[2020-10-17 18:54] ametalon opened #326 "Long recursion possible with cyclic links in dir tree"
Create a single file and a symbolic link to its containing dir:
[code]

Run linter with recursive search:
[code]
It follows the link and rechecks the same file again and again.

Possible solutions:
1. Don't follow links
2. Keep track of already visited dirs in canonicalized form

[2020-10-19 09:44] mgrachev commented on #325
@ametalon Thank you for your help! We are planning to fix this bug in the next release.

[2020-10-19 09:46] mgrachev commented on #326
@ametalon Thank you! I like more the first option.

@dotenv-linter/core What do you think?

[2020-10-19 11:54] skonik commented on #325
I'll take it.

[2020-10-19 12:43] Aashu23 commented on #325
Hi, I was looking into the issue. Opened PR(Missed tagging earlier).

[2020-10-19 13:40] DDtKey commented on #326
I agree, the first option sounds good.

[2020-10-19 15:14] sonro commented on #326
Hi, I would like to fix this issue if it is available.

[2020-10-20 08:46] mstruebing commented on #326
Don't follow links sound sufficient I think

[2020-10-20 10:56] #325 closed

[2020-10-20 11:32] #323 closed

[2020-10-20 12:44] #326 closed

[2020-10-21 14:29] mgrachev opened #329 "Add .gitattributes for Rust"
https://tekin.co.uk/2020/10/better-git-diff-output-for-ruby-python-elixir-and-more

[2020-10-22 10:11] mstruebing opened #331 "Automatic changelog adding of new commits on merge in master"
Currently, everyone needs to add their changes themselves to the `CHANGELOG.md` file. As this is tedious work it would be great if that could be automated via a github action on merge in master or something like that.

[2020-10-22 10:17] DDtKey commented on #331
That would be really very helpful! :+1:
I already thought about this, the only thing is not always clear how to automatically classify PR (Added / Changed) :thinking:

[2020-10-22 10:36] mstruebing commented on #331
That would mean we need to introduce some commit guidelines, which wouldn't be so bad I think.
On the other hand: If the commit message is clear enough, maybe it would be enough to have only a list of commits in the changelog between the versions, but I'm not sure. Any other ideas?

[2020-10-22 13:18] #329 closed

[2020-10-22 13:34] mgrachev commented on #331
There are two options to do that:
1. Follows [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0) rules and uses prefixes: `feat` and `fix`. To ensure that contributors follow these rules we can add the [commitlint](https://github.com/conventional-changelog/commitlint);
2. Uses labels like `feature` and `changes`.

I like more the first option.

[2020-10-22 13:40] mgrachev commented on #331
I would think more how to implement this one, because I wouldn't like to have a lot of bot commits 😅

[2020-10-22 14:19] mstruebing commented on #331
I personally like conventional commits :)

[2020-10-22 16:31] DDtKey commented on #331
I also actively use conventional commits in other projects, so I will gladly support this idea 🙂

[2020-10-26 09:22] mgrachev opened #333 "Proposal: Using subcommands intead of flags"
### Problems
1. We now have a few flags, which are essentially subcommands: `--fix` & `--show-checks`;
2. Some flags don't work with other. Example: `$ dotenv-linter --no-backup`;
3. Adding new commands like `compare` confuses the code even more.

### Solution
**Breaking changes**: Using subcommands intead of flags.

Checking `.env` files will by default have no subcommand:

[code]

Fixing `.env`

[2020-10-26 09:24] mgrachev opened #334 "Release v3.0.0"
What should be included in the new release v3.0.0.

Features:
- [x] Color output and `--no-color` option (#307)
- [x] Display file names being scanned (#311)
- [x] Add `compare` command (#282)
- [x] Make an output on-the-fly (#335)
- [x] Add support `export` prefix (#337)
- [x] Add support multi-line values (#339)

Improvements:
- [x] **Breaking changes**: Using subcommands instead of flags (#333)

[2020-10-26 16:12] DDtKey commented on #333
Are we talking about `clap` subcommands? I would try to implement this if you haven't started implementing it yet.
I’ll just wait for a description of how you want it (but it seems I’m guessing :thinking:)

[2020-10-26 17:22] mgrachev commented on #333
I'm sorry, but I already have a working prototype and don't have time to write the description 🙂

if you are looking for something to do, then I can sugget you to implement on-the-fly output 😉
What do you think?

But before that, please open an issue for "on-the-fly output" and describe what you want to do 🙏
Also, we have to merge this PR https://github.com/dotenv-linter/dotenv-linter/pull/311, bu

[2020-10-26 18:35] #268 closed

[2020-10-26 19:40] DDtKey commented on #333
I agree, we can do it in the future PR.  Soon, in this case, I will create an issue and start work 🙂

[2020-10-26 19:51] DDtKey opened #335 "Make an output on-the-fly"
Make output of `checking`/`fixing` files and results on-the-fly(during `dotenv-linter` work), instead of output at the end of the program.

It is planned to keep the structure of the current output(just add interactivity)

[2020-10-27 10:48] mstruebing commented on #333
Shouldn't be `check` the default command which is used when no other command is passed?
I mean, it's basically a linter to exactly do that.
Or what are your reasons to split commands?

[2020-10-27 13:44] mgrachev commented on #333
It make sense 🤔

[2020-10-28 14:11] mstruebing commented on #334
Maybe renaming `master` to something else like `main`? I think you already heard about it, but if not: `master` is related to a master-slave relationship, which should not be present in tech.

[2020-10-30 11:05] mgrachev commented on #334
If it matters to you then I can do it.

[2020-10-31 13:04] mgrachev commented on #333
@DDtKey @mstruebing I have just updated the description of this issue. Please take a look 🙂

[2020-10-31 15:16] mstruebing commented on #333
That sounds good to me :+1:

Just a question as I'm not to opinionated about it: should we really use a beta version (clap) or wait until a stable one is released?

[2020-10-31 16:22] DDtKey commented on #333
Really sounds good 🚀
I think it would be quite logical to wait for a stable version.
We can generally implement in beta, but not release until stabilization `clap` 🤔

[2020-10-31 19:03] mgrachev commented on #333
I decided to postpone updating clap, because we can wait for a new version for a very long time 🙂

[2020-11-01 19:29] coolaj86 commented on #334
How about just keep the politics out of this project. `master` means a lot of things. It does not refer to slavery in this context, or most contexts.

![Screen Shot 2020-11-01 at 12 26 58 PM](https://user-images.githubusercontent.com/122831/97812298-6f951480-1c4e-11eb-91fb-a7384d9a7aeb.png)

[2020-11-01 19:43] coolaj86 opened #337 "Support export prefix?"
The [original dotenv](https://github.com/bkeepers/dotenv), and many (most?) of the [clones](https://github.com/joho/godotenv) support the `export` prefix in a .env file (which is also compatible with bash, zsh, fish, etc).

It appears that `dotenv-linter` does not:

`.env`:

[code]

[code]

[code]

Unfortunately there's no RFC for .env but shouldn't this, as a linter, support the same parsing rule

[2020-11-01 19:51] DDtKey commented on #334
I also hold the opinion that this should not be associated with slavery in any way.
I sincerely do not want to hurt someone's feelings, but words can have different meanings.

Interpretation is important,trying to escape from this only perpetuates misinterpretation 🙂

[2020-11-02 08:51] mgrachev commented on #334
Totally agree with you 👍

[2020-11-02 11:07] mgrachev commented on #337
@coolaj86 Thank you for your proposal!

@dotenv-linter/core What do you think?

[2020-11-02 11:57] mstruebing commented on #337
I honestly never heard of it but if it is widely used, as it seems, we should support it in my opinion.

[2020-11-02 13:19] mgrachev commented on #337
@coolaj86 @dotenv-linter/core I have included this feature in the next release [v3.0.0](https://github.com/dotenv-linter/dotenv-linter/issues/334).

[2020-11-02 17:31] mgrachev commented on #334
@dotenv-linter/core What do you think about supporting [multi-line values](https://github.com/bkeepers/dotenv#multi-line-values)?

[2020-11-02 20:05] mstruebing commented on #334
I think we should do :+1:

[2020-11-03 10:54] skonik commented on #337
Hi. I would like to implement this

[2020-11-03 11:26] mgrachev opened #339 "Support multi-line values"
[bkeepers/dotenv](https://github.com/bkeepers/dotenv), [motdotla/dotenv](https://github.com/motdotla/dotenv), [python-dotenv](https://github.com/theskumar/python-dotenv) and [stackbuilders/dotenv-hs](https://github.com/stackbuilders/dotenv-hs) support multi-line values. For example:

[code]

[2020-11-03 11:27] mgrachev commented on #334
What about supporting a config file? 🙂

[2020-11-03 11:36] mstruebing commented on #334
I think a config file could be cool, but doesn't need to be on the top of  the priority list. But of course it would be cool for `3.0.0` :)
What format do you have in mind? I would favor something like either `json` or `toml`.

[2020-11-03 11:38] mstruebing commented on #339
We would need to read files at once and not line by line and write a parser I think which parses the `.env` file in our internal code structure I think. Sounds a bit complicated, I've never written a parser in my life but I would be interested.

Any other ideas, maybe some more lightweight solutions?

[2020-11-03 11:41] mstruebing commented on #337
Cool! @skonik if you need any help or starting points feel free to ask.

[2020-11-03 12:22] DDtKey commented on #334
Actually `3.0.0` looks saturated.
This shouldn't break backward compatibility, so I'd rather carry this over to the next milestone 🤔

You can also consider a popular format for configurations - `yaml`. How do you look at it? 🙂

[2020-11-03 12:58] mstruebing commented on #334
I'm not to opinionated about this but somehow like the other ones a bit more. But if you feel like `yaml` would be better it would be fine for me.

[2020-11-04 23:26] vladimyr commented on #114
Now you need to update just one - the one in Homebrew core formula. 🎉

[2020-11-07 17:53] mgrachev commented on #339
First we can add support for multi-line values like this, so all `dotenv` libraries support them:
[code]

To do this, it will be enough to update `QuoteCharacterChecker`.

This option is only supported by `bkeepers/dotenv`:
[code]

I think we can not support this option 🤔
What do you think?

[2020-11-07 18:04] mgrachev commented on #334
I thought about using the `yaml` format because I know some linters which use it, e.g.:
* [rubocop](https://docs.rubocop.org/rubocop/configuration.html);
* [golangci-lint](https://github.com/golangci/golangci-lint/blob/master/.golangci.yml).

[2020-11-07 19:19] coolaj86 commented on #334
Why not use ENV as the config format?

No dependencies, discourages nested clutter, quite apropos.

[2020-11-07 19:33] #291 closed

[2020-11-07 20:03] mgrachev commented on #114
It is a great news! Thank you! 👍

[2020-11-07 20:07] DDtKey commented on #339
In that case, I agree

[2020-11-07 20:09] mgrachev commented on #114
@vladimyr Why don't you use archives with pre-compiled binaries intead of building from source?
https://github.com/Homebrew/homebrew-core/blob/master/Formula/dotenv-linter.rb

[2020-11-07 20:18] vladimyr commented on #114
Because that is against Homebrew [policy](https://docs.brew.sh/Acceptable-Formulae#we-dont-like-binary-formulae). The build must be reproducible and users must be able to compile it on their machine if they decide to.

[2020-11-08 10:13] mgrachev commented on #114
Does this formula also work on Linux?

[2020-11-08 10:58] mstruebing commented on #339
The goal somewhere in the future should be to be able to support something like:

[code]

But I think it would be hard work and the other way, to support `MULTILINE="new\nline"` is much easier and quicker to achieve.
So I think we should go for the quick solution for now.

[2020-11-08 12:40] vladimyr commented on #114
Most of them do and fail to see why this one would be an exception to that rule. That being said I don't have a machine to verify it and in all fairness, I'm not really a Linuxbrew expert

[2020-11-08 12:54] vladimyr commented on #114
It is present in the linuxbrew-core tap ([formula](https://github.com/Homebrew/linuxbrew-core/blob/f9a3c139251b38a885b3a4be8de9595d5c45cebe/Formula/dotenv-linter.rb)) so I guess it works. 😉

[2020-11-09 08:14] mgrachev commented on #114
@dotenv-linter/core Can anyone test installing dotenv-linter via Linuxbrew?
[code]

[2020-11-09 08:44] mgrachev commented on #114
It can be installed via Linuxbrew, but it builds from source and depends on rust 🤔

[code]

[2020-11-09 09:38] vladimyr commented on #114
@mgrachev I believe you need to explicitly request building a linux bottle, see this thread https://discourse.brew.sh/t/how-do-i-request-a-linuxbrew-bottle-namely-drone-cli-to-be-built/5472

[2020-11-09 10:28] mgrachev commented on #114
@vladimyr Thank you! 🙏

https://github.com/Homebrew/linuxbrew-core/issues/21401

[2020-11-09 10:49] mgrachev commented on #334
We are planning to store in a config file:
1. List of excluded files:
[code]
2. List of checks:
[code]

That's an example.

Can you give an example of how to do this with ENV?

[2020-11-09 18:42] #335 closed

[2020-11-09 19:14] #339 closed

[2020-11-09 22:07] coolaj86 commented on #334
My first question would be: Why?

That example is too hypothetical for me to be able to understand a particular use case. I'm going to counter with what I think is a practical example, and what I think a solution might be:

[code]

Configs might look like this. I don't know what

`.envlint`
[code]

[code]

`.envlint-odd`
[code]

[code]

# Given

- I can't see a good reason for having different  co

[2020-11-10 07:12] #337 closed

[2020-11-10 09:58] mgrachev commented on #114
Now we have a Linux bottle for `dotenv-linter` 🥳
[code]

@dotenv-linter/core Do you see any benefit to having a separate repository for Homebrew Formula?

[2020-11-10 10:31] mstruebing commented on #114
You mean to integrate it within the main dotenv-linter repository?
Not any technical advantages, only personal ones if at all.

[2020-11-10 11:15] mstruebing commented on #334
I like your proposal @coolaj86 even if it feels a bit odd to me.
I like the idea to configure the tool with the same configuration language which itself is linting.
Also environment variables are there for configuring and altering run time or build time behavior, which is exactly what we are doing with a configuration file.

I would add that we could also add the files/directories which should be

[2020-11-10 15:11] DDtKey commented on #334
A few observations:
1. With `yaml` files, we can configure everything in the same way, placing them directly in the directories without project-specific configs. It's about the way the config is read, not about its format. If I understand you correctly

2. In the example with `yaml` (above from @mgrachev ), it was possible to exclude a file for a specific check, which I do not seem to observe in t

[2020-11-10 20:16] coolaj86 commented on #334
I get that, but what's the use case?

Personally, I would always want linter config _in_ the project directory and I would that _that_ project's linter config to _always_ take precedence over my own personal default style.

What's the opposing view?

Correct, in my proposed solution you would run `dotenv-linter` twice. Each config file would ignore the directories (or specific files) that should b

[2020-11-11 06:40] mgrachev commented on #114
Dotenv-linter Homebrew Formula is now in the [homebrew-core](https://github.com/Homebrew/homebrew-core/blob/master/Formula/dotenv-linter.rb) repository and we can install dotenv-linter via the command:
[code]

I think we can archive the [dotenv-linter/homebrew-tap](https://github.com/dotenv-linter/homebrew-tap) because it is no longer needed. What do you think?

[2020-11-11 07:05] mgrachev commented on #334
I realized that we don't need a configuration file yet, because we don't yet understand what to store there.

Moreover, we can now customize dotenv-linter using arguments such as `--skip` and `--exclude`, or using control comments.

[2020-11-14 18:50] mgrachev commented on #114
Done 🎉

[2020-11-14 18:50] #114 closed

[2020-11-18 16:32] #333 closed

[2020-11-24 20:30] coolaj86 opened #343 "Many values SHOULD be quoted"
#171 Seems to break values that actually do need to be quoted

[code]

[code]

[2020-11-26 16:23] mgrachev opened #344 "Remove Debug trait from all derives"
[code]

[2020-11-26 20:19] #344 closed

[2020-11-26 20:36] mgrachev opened #345 "Not all problems are found"
Example:
[code]

**Actual behavior:**

If we run `dotenv-linter` against a `.env` file with the `test` key, we will see only one warning:
[code]

If we fix that file and run check again, we will see another warning:
[code]

**Expected behavior**:

If we run `dotenv-linter` against a `.env` file with the `test` key, we will see 2 warnings:
[code]

@dotenv-linter/core What do you think?

[2020-11-27 08:09] mstruebing commented on #345
I think you are right, it should be the case that dotenv-linter reports every problem and not just the first one found.

[2020-11-27 13:31] DDtKey commented on #345
I think it has to do with the implementation of getting the key for checking.

[code]

If we add `=` after the key it will be received correctly and an error will be detected.

I think the solution should be around this, something like:
[code]

@dotenv-linter/core Perhaps this will be useful, or if no one does it, I can do a PR later 🙂

[2020-12-05 11:35] #345 closed

[2020-12-05 13:15] #343 closed

[2020-12-08 17:15] #23 closed

[2021-01-07 01:21] github-actions[bot] opened #358 "RUSTSEC-2020-0095: difference is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `difference`                      |
| Version             | `2.0.0`                   |
| URL                 | [https://github.com/johannhof/difference.rs/issues/45](https://g

[2021-01-09 20:28] mstruebing commented on #358
Just had a quick look:

`assert_cmd` uses `predicates` which uses `difference`.
As `assert_cmd` is only a development dependency it is not as critical I think.

[2021-01-10 08:56] mgrachev commented on #358
Thank you! I'll close this issue.

[2021-01-10 08:56] #358 closed

[2021-01-11 10:34] #334 closed

[2021-01-11 10:48] coolaj86 opened #359 "v3 recursively lints backup files by default"
I could be mistaken, but I don't think v2.x re-linted the backup files. I think that it ignored them.

Feel free to close this out if this is the desired behavior, but it seems like either these should be ignored by the date pattern, or should get a `.bak` extension and be excluded that way.

[code]

[code]

[2021-01-11 10:56] coolaj86 opened #360 "[Proposal] check variable usage before checking sort order"
In cases where a variable is used, the linter should not complain if it is not listed alphabetically.

This is correct:

[code]

This is NOT correct:

[code]

Workaround:

- Add a comment

[code]

[2021-01-11 12:03] mgrachev commented on #334
We are happy to announce the release of dotenv-linter - [v3.0.0](https://github.com/dotenv-linter/dotenv-linter/releases/tag/v3.0.0) 🥳
Thanks to everyone who contributed to this release 🙏

[2021-01-11 14:12] DDtKey commented on #359
I think backup files are really worth excluding for repeated checks (I like the option with the `.bak` extension)

But I would like to clarify that recursive checking is disabled by default.
Judging by the output to the console, does this mean that previously created backup files are checked when `dotenv-linter fix` is run again and spawns secondary backups?

[2021-01-11 14:24] DDtKey commented on #360
This really sounds useful, as reordering of references can lead to incorrect values 🤔

At the moment, the user can independently add a separator for highlighting the sorting groups:
[code]
Or use the [control comment to skip a check](https://dotenv-linter.github.io/#/usage/check?id=skip-checks):
[code]

[2021-01-11 14:49] mgrachev commented on #359
👍

[2021-01-11 15:06] mgrachev commented on #360
I like this proposal 👍

@coolaj86 Which kinds of variable references should `UnorderedKeyChecker` support?

[2021-01-22 12:06] ppankowski opened #361 "How to use quote values inside a string?"
Hi,

It's more a question than issue.

I've a .env entry that contains json array as string, like:

`
KEY=["value"]
`

which triggers QuoteCharacter check. How can I prevent this and is this the intended behaviour?

[2021-01-22 16:20] vi opened #362 "README should shortly describe and link what ".env" files are."
As far as I understood from README, ".env" files are some text files which can contain keys and values that live in programming projects.

But it should be more clear what `.env` files are used for.

[2021-01-22 18:30] mstruebing commented on #362
Hey @vi great suggestion.
I think because most of us who are using and developing this tool is perfectly clear what `.env` files are, we missed the tiny thing to tell others who don't. I really like that suggestion :+1:

[2021-01-23 22:48] #362 closed

[2021-01-24 10:06] mgrachev commented on #361
Hey @ppankowski!

You can disable `QuoteCharacter` only for some lines using [control comments](https://dotenv-linter.github.io/#/usage/check?id=skip-checks). For example:

[code]

[2021-01-26 04:04] bbigras opened #365 "feature request: ensure that the file is not readable by everyone"
Often `.env` files have credentials in them. Maybe it would be nice to ensure it's only readable by the owner.

[2021-01-26 08:21] mstruebing commented on #365
Hey @bbigras thank you for your idea.

To be honest, I don't really think that this should be part of this tool.
What do you think @dotenv-linter/core?

[2021-01-26 08:29] mgrachev commented on #365
@bbigras 👋 Thank you for your proposal, but I agree  with @mstruebing.

[2021-01-26 08:29] #365 closed

[2021-02-01 14:52] mgrachev opened #366 "Migrate from docker to composite run actions"
Original issue: https://github.com/dotenv-linter/action-dotenv-linter/issues/23

[2021-02-02 08:08] mstruebing commented on #361
I will close this issue as it has been answered.

[2021-02-02 08:08] #361 closed

[2021-02-05 07:08] Spoonbender commented on #360
I imagine that theimplementation would rely on something like a directed graph, which can also be used to detect cyclic dependencies

[2021-02-08 15:09] #359 closed

[2021-02-09 04:30] TheAlakazam commented on #366
Hey I want to contribute to this. Can I be assigned to this issue?

[2021-02-12 18:37] mgrachev opened #369 "Implement suggest feature"
Original issue: https://github.com/dotenv-linter/action-dotenv-linter/issues/27

[2021-02-16 07:35] dmitrz opened #371 "dotenv-linter is not working with -s UnorderedKey"
[code]

[2021-02-16 10:15] mgrachev commented on #371
@dmitrz Hey 👋

Try to run this way `dotenv-linter env -s UnorderedKey`:

[code]

[2021-02-16 10:15] #371 closed

[2021-02-16 12:26] WLBF commented on #360
Does dotenv have formal standard for variable reference?

[2021-02-22 06:14] mdaj06 commented on #360
@mgrachev can i take a look at this?

[2021-02-22 11:44] mgrachev commented on #360
I don't think there is a standard for this, but I know of some dotenv libraries that support variable substitution:
* https://github.com/dotenv-rs/dotenv#variable-substitution
* https://github.com/bkeepers/dotenv#variable-substitution
* https://github.com/vlucas/phpdotenv#nesting-variables
* https://github.com/stackbuilders/dotenv-hs#variable-substitution
* https://github.com/theskumar/python-dote

[2021-03-06 17:12] mgrachev commented on #366
Done https://github.com/dotenv-linter/action-dotenv-linter/pull/28 🎉

[2021-03-06 17:12] #366 closed

[2021-03-09 09:51] mgrachev opened #373 "Remove Result from the return type"
It need to fix the cargo clippy warning:
[code]

[2021-03-11 08:15] #373 closed

[2021-03-12 08:43] mgrachev commented on #360
@mdaj06 Do you have any progress on this?

[2021-03-14 19:10] DDtKey opened #379 "Add method to get substitution key to LineEntry"
### Summary
We need a method to get the key referenced by the value in `LineEntry`.
This will be useful for the correct order of the keys (#360)

### Description
Add function to [LineEntry](https://github.com/dotenv-linter/dotenv-linter/blob/1d7577acde3efcf496b8a4da48b3c00b850fddf7/src/common/line_entry.rs#L14) with similar signature:
[code]

In case variable substitution is used, the method shoul

[2021-03-14 20:13] mgrachev opened #380 "Add action-hadolint"
### Description

Add [action-hadolint](https://github.com/reviewdog/action-hadolint) to [.github/workflows/linters.yml](https://github.com/dotenv-linter/dotenv-linter/blob/master/.github/workflows/linters.yml) to check `Dockerfile`.
Also, run this action against the [Dockerfile](https://github.com/dotenv-linter/dotenv-linter/blob/master/Dockerfile) to make sure everything is okay.

[2021-03-15 14:50] mgrachev opened #381 "Release v3.1.0"
What should be included in the new release v3.1.0.

**Improvements:**
- [x] Don't lint backup files (https://github.com/dotenv-linter/dotenv-linter/issues/367)
- [x] Check variable usage before checking sort order
   - [x] Add method to get substitution key to LineEntry (https://github.com/dotenv-linter/dotenv-linter/issues/379)
   - [x] Allow unordered keys for substituion variables (https://gith

[2021-03-15 17:59] DDtKey opened #382 "Allow unordered keys for substituion variables"
In variable substitution cases, `dotenv-linter` shouldn't complain on order of the keys.

Such files to be considered valid:

[code]
For this, changes must be made to the` UnorderedKeyChecker`.

Since we already support sort groups (see the [Unordered Key documentation](https://dotenv-linter.github.io/#/checks/unordered_key)), a good way would be just consider the substitution key (which refers to

[2021-03-15 18:45] DDtKey opened #383 "Don't fix key order for substitution variables"
According to #382, the `UnorderedKeyFixer` mustn't fix the order of variables if they reference to key in the same sorting group.

Such files to be considered valid and can't be fixed:
[code]

### TODO
Using the substitution key getter (see #379), check if this key refers to another key in the current sort group ([lines](https://github.com/dotenv-linter/dotenv-linter/blob/492d3a4046fd97cdfbeb7484e

[2021-03-15 19:53] mgrachev commented on #360
We decomposed this issue for 3 parts:
* Add method to get substitution key to LineEntry (https://github.com/dotenv-linter/dotenv-linter/issues/379)
* Allow unordered keys for substituion variables (https://github.com/dotenv-linter/dotenv-linter/issues/382)
* Don't fix key order for substitution variables (https://github.com/dotenv-linter/dotenv-linter/issues/383)

Thanks to @DDtKey for that 👍

I'l

[2021-03-15 19:53] #360 closed

[2021-03-16 09:10] mgrachev opened #384 "Print a message "Nothing to check""
### Description

Print a message "Nothing to check" in the absence of `.env` files for check.

### Implementation

**Step 1:**

Add a method for [CheckOutput](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/output/check.rs#L11) to print the message "Nothing to check" only if `is_quiet_mode == false`.

**Step 2:**

Call the method from the step 1 when [lines_map](https://githu

[2021-03-16 09:12] mgrachev opened #385 "Print a message "Nothing to fix""
### Description

Print a message "Nothing to fix" in the absence of `.env` files for fix.

### Implementation

**Step 1:**

Add a method for [FixOutput](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/output/fix.rs#L14) to print the message "Nothing to fix" only if `is_quiet_mode == false`.

**Step 2:**

Call the method from the step 1 when [lines_map](https://github.com/dote

[2021-03-16 09:14] mgrachev opened #386 "Print a message "Nothing to compare""
### Description

Print a message "Nothing to compare" in the absence of `.env` files for compare.

### Implementation

**Step 1:**

Add a method for [CompareOutput](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/output/compare.rs#L8) to print the message "Nothing to compare" only if `is_quiet_mode == false`.

**Step 2:**

Call the method from the step 1 when [lines_map](http

[2021-03-16 10:12] mgrachev opened #387 "Replace String on Into<String> for all TestDir methods"
### Description

We use the `TestDir` struct in our integrational tests. Some methods of this struct take `String` as an argument:
* [test_command_success](https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/common/test_dir.rs#L71)
* [test_command_fail](https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/common/test_dir.rs#L79)
* [test_command_success_with_args](https://g

[2021-03-16 10:29] mgrachev opened #388 "Use Rc for LineEntry to reduce memory consumption"
### Description

The `LineEntry` struct has the [FileEntry](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/line_entry.rs#L7) field which clones for every `LineEntry` in the [get_line_entries](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/lib.rs#L229) method.

Use the [Rc](https://doc.rust-lang.org/std/rc/index.html) type for `LineEntry` to reduce memory cons

[2021-03-16 10:42] mgrachev opened #389 "Add a benchmark for the fix function"
### Description

To do refactoring we need to have benchmarks. We already have a benchmark for the [check](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/lib.rs#L16) function:
[code]

It needs to write the  benchmark for the [fix](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/lib.rs#L49) function.

### Implementation

You can take the benchmark for the `check` func

[2021-03-16 10:44] mgrachev opened #390 "Add a benchmark for the compare function"
### Description

To do refactoring we need to have benchmarks. We already have a benchmark for the [check](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/lib.rs#L16) function:

[code]

It needs to write the  benchmark for the [compare](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/lib.rs#L93) function.

### Implementation

You can take the benchmark for the `check`

[2021-03-18 10:09] jodli commented on #384
I will look at this in the evening, if it's okay! :)

[2021-03-18 10:32] mstruebing commented on #384
Sure, I assign you to that issue.

[2021-03-19 09:53] Tom01098 commented on #388
I'd like to take a stab at this one!

[2021-03-19 09:54] mstruebing commented on #388
I'll assign you :muscle:

[2021-03-19 19:44] mdycz commented on #385
I'd like to take this if that's ok :)

[2021-03-19 21:30] DDtKey commented on #385
I'll assign that issue to you 🙂

[2021-03-20 16:57] jakecorrenti commented on #386
Hi there, can I take this on as my first contribution?

[2021-03-20 18:08] ebobrow commented on #387
I'd like to try this one, if that's okay.

[2021-03-20 18:34] jakecorrenti commented on #386
is there a naming convention that you use for a new branch?

[2021-03-20 19:27] jakecorrenti commented on #386
The link to show where the integration tests should go is broken, where would you like these implemented?

[2021-03-20 21:10] mgrachev commented on #386
Integration tests should be located in `tests/output/compare.rs`.

[2021-03-20 21:12] mgrachev commented on #387
I'll assign that issue to you 👍

[2021-03-20 21:37] jakecorrenti commented on #386
do you mean `tests/compare/compare.rs`? I don't see a `tests/output/compare.rs` unless I am supposed to actually create the file myself. I'm pretty new to this so I'm sorry for getting a little lost

[2021-03-20 22:27] mgrachev commented on #386
Yes, you should create this file.

[2021-03-21 08:35] a4blue commented on #390
Just saw that another one already made a Pull Request but forgot to link it #395  ❤️

[2021-03-21 11:37] #388 closed

[2021-03-21 17:09] #387 closed

[2021-03-22 06:50] #384 closed

[2021-03-23 09:06] #390 closed

[2021-03-24 09:45] #389 closed

[2021-03-24 10:00] #385 closed

[2021-03-24 12:53] #379 closed

[2021-03-26 08:04] #380 closed

[2021-03-26 08:06] mgrachev opened #402 "Fix clippy warnings"
For example:
[code]

https://github.com/dotenv-linter/dotenv-linter/runs/2200123122?check_suite_focus=true

[2021-03-26 09:27] mgrachev opened #403 "Get rid of String::from when creating LineEntry"
**Description:**

To create a LineEntry we use the `LineEntry::new` method:

[code]

I would be great to get rid of `String::from("\n")` and passing only the `"\n"` string.

**Implementation:**

To do that you should implement use the `Into<String>` trait in the `LineEntry::new` method.
Also, you should replace all places in the code where `String::from("\n")` or similar code is used.

[2021-03-27 18:42] #402 closed

[2021-03-27 19:54] #403 closed

[2021-03-30 08:04] #386 closed

[2021-03-30 08:36] #382 closed

[2021-04-02 11:34] DDtKey opened #407 "Add check: Substitution keys"
Example:

[code]

You can find more details in #379 issue and [its implementation](https://github.com/dotenv-linter/dotenv-linter/blob/a3878621ef862fead0bf03f9344bfd45ffdad935/src/common/line_entry.rs#L92)

And for other examples substitution keys, you can look at the [dotenv libraries that support variable substitution](https://github.com/dotenv-linter/dotenv-linter/issues/360#issuecomment-783316

[2021-04-02 11:44] DDtKey opened #408 "Fix QuoteCharacterChecker for values with substitution keys"
### Description
`dotenv-linter` shouldn't create a `Warning` If the value of the variable contains `$` character, because it might be an escaped substitution variable.

### TODO:
* Return `None` from  `QuoteCharacterChecker` if value contains `$` character. You can do this here:
https://github.com/dotenv-linter/dotenv-linter/blob/a3878621ef862fead0bf03f9344bfd45ffdad935/src/checks/quote_character.

[2021-04-02 12:46] DDtKey opened #409 "Fix the possibility of incorrectly fixing of the ENV file"
### Description
`Fixers` can return `None` for cases when didn't fix anything.

But we don't compare the number of `Warnings` and the number of fixes.
We only check that there was at least 1 fix:
https://github.com/dotenv-linter/dotenv-linter/blob/a3878621ef862fead0bf03f9344bfd45ffdad935/src/lib.rs#L73

I believe this should be considered as an `Error` and not normal behavior. Since disagreements

[2021-04-02 19:02] mgrachev opened #410 "Use Rc for Warning to reduce memory consumption"
### Description

The `Warning` struct has the [LineEntry](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/common/warning.rs#L8) field which clones in every checks, e.g.: [DuplicatedKeyChecker](https://github.com/dotenv-linter/dotenv-linter/blob/master/src/checks/duplicated_key.rs#L32).

Use the [Rc](https://doc.rust-lang.org/std/rc/index.html) type for `Warning` to reduce memory con

[2021-04-03 10:23] #383 closed

[2021-04-04 14:29] DDtKey opened #411 "Refactor hard-coded mandatory Fixers"
## Desription
In `dotenv-linter` there is a set of mandatory fixers hardcoded by their names:
https://github.com/dotenv-linter/dotenv-linter/blob/313ba56f4888037f9899a20d3453c3900ea427fd/src/fixes.rs#L77

I propose refactoring by adding a new method to the `Fix` trait.
This approach should reduce the number of name comparisons, and the code will be cleaner.

## TODO

- Add a new method to the `Fix

[2021-04-05 09:18] mgrachev opened #412 "AUR version is outdated"
Link: https://aur.archlinux.org/packages/dotenv-linter-git

<img width="518" alt="Screenshot 2021-04-05 at 12 15 12" src="https://user-images.githubusercontent.com/700998/113558701-ce4d2880-9608-11eb-80df-a9ce1880d992.png">

@mstruebing Can you take a look what is wrong with the release process to AUR?

[2021-04-05 11:01] mstruebing commented on #412
This package is up to date. It is the `-git` package of `dotenv-linter` which means it takes the current master branch and builds it on your computer. You will need to take care of updates yourself but can do them whenever you want on your own computer.

As you can see here in line 23-25: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotenv-linter-git#n23
It takes the master/default branc

[2021-04-05 17:02] mgrachev commented on #412
Thank you for explaining me and now I see that everything is fine.

There is only one question left - Can we remove the version number `1.1.0.r4.g61ff93d-1` from the https://aur.archlinux.org/packages/dotenv-linter-git page?

[2021-04-05 18:52] PatatasDelPapa commented on #410
I want to do this one but is my first time trying to contribute to a project and I'm a bit lost.
For now I forked the repository and run the tests as it is. 1 failed like this

[code]

[2021-04-06 09:44] mstruebing commented on #412
We can not remove it.
It is the same as what you can see in line 4 (and 16-19): https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotenv-linter-git#n4

We could choose our own and set any specific version. One thing that came to my mind would be to update that pkgver on every release, which might be a good solution.

I will think about it and maybe will provide a PR. :)

[2021-04-06 12:27] DDtKey commented on #410
As I can see, the whole difference is in line breaks (`\n` vs `\r\n`).
Could you please provide your OS (is Windows?) and rust version?

[2021-04-06 17:49] PatatasDelPapa commented on #410
Sure
[code]

[2021-04-07 01:52] romerorocha commented on #408
Hi! I've started learning Rust a few months ago. This seems to be pretty simple and I'd like to learn and help :)

I mean, the solution is as simple as
`
if val.contains("\\n") || val.contains(char::is_whitespace) || val.contains('$') {
    return None;
}
`
right?

Could I be assigned to it?

[2021-04-08 09:46] DDtKey commented on #410
@PatatasDelPapa I can't reproduce this behavior 🙁
Just to make sure: You haven't changed any files and the `git diff` output is empty?
Did you just clone the repo and run `cargo test`?

The right part of the assertion is just the content of the file from the repo (without any changes), but with additional return carier (`\r`) for you 🤔

[2021-04-08 10:10] PatatasDelPapa commented on #410
Did you just clone the repo and run `cargo test`?

Yes and just to be sure I cloned the repo again then run `cargo test`

Exactly what I done was

1. Open GitHub Desktop
2. Cloned the repo (from `https://github.com/dotenv-linter/dotenv-linter.git`) to desktop/rust
3. Open visual studio code through Github Desktop
4. Open a terminal in vscode then run `cargo test`

Got pretty much the same as last

[2021-04-09 07:37] de-sh commented on #407
Hey, I am trying to solve this issue. Can I get a review of my work so far: https://github.com/de-sh/dotenv-linter/commit/49d099cc175270f2e611ed571582bccf67ef1840

[2021-04-09 08:01] mgrachev commented on #407
Thank you for your interest!

A quick glance showed that it's ready for review 👍 Please, open the PR with these changes.
I guess there will be several questions, but it's okay 🙂

[2021-04-09 17:55] stevetaggart commented on #410
I was able to reproduce this error on Windows and I found one way that the problem could be resolved.
The problem happens because Git can automatically convert LF endings into CRLF when you check out code (this includes cloning a repo).
The automatic conversion happens if you have the Git `core.autocrlf` configuration variable set to `true`, which is the recommended setting on Windows.
You can see

[2021-04-09 21:57] stevetaggart commented on #410
I created a [PR](https://github.com/dotenv-linter/dotenv-linter/pull/417) that adds a `.gitattributes` file to the `/tests/fixes/fixtures/` directory so this problem shouldn't happen for future contributors.

[2021-04-10 00:30] JuanMarchetto commented on #408
Hello, I am interested in solve this one.

[2021-04-10 08:59] DDtKey commented on #408
Ok I'll assign it to you.

[2021-04-10 09:12] DDtKey commented on #410
@stevetaggart good catch! Thank you 🙂

[2021-04-10 22:33] oren0e commented on #409
I might want to try and tackle this, but note that I'm a beginner in Rust (read the first 13 chapters in the rust book so far), done some minor stuff.

[2021-04-12 07:04] mgrachev commented on #409
There is already a PR for this issue, please choose another one 😉

[2021-04-12 08:57] mstruebing commented on #412
After thinking of this: We should not adjust the version number on every release. This package takes the latest upstream/master version and builds it on your local computer. That is common on AUR packages with `-git` suffix, and a well known and accepted pattern.

So we could agree on a specific version for now, which needs to be updated if the way the package is built changes.
We can not remove t

[2021-04-12 09:51] mgrachev commented on #412
I would choose this option. What do you think about it?

[2021-04-12 09:56] mstruebing commented on #412
I would be okay with this. If no one has objections until tomorrow I will do it tomorrow.

[2021-04-12 11:23] emmanuelantony2000 commented on #410
Hey, does this also involve changing the function in the `Check` trait to accept `Rc<LineEntry>` instead of `&LineEntry`?

[2021-04-12 20:13] stevetaggart commented on #410
@PatatasDelPapa my [PR](https://github.com/dotenv-linter/dotenv-linter/pull/417) was merged, so you should be able to have tests pass on Windows now with a fresh clone of the repo. 😃

[2021-04-12 20:34] PatatasDelPapa commented on #410
@stevetaggart Yes! all test pass with a fresh clone sadly I'm now occupied but will try to help again on another issue when I have time

[2021-04-13 08:45] mstruebing commented on #412
https://aur.archlinux.org/packages/dotenv-linter-git/

[2021-04-13 08:45] #412 closed

[2021-04-14 03:29] atsmtat commented on #410
Hi, isn't it better to store borrowed reference to `LineEntry` inside `Warning`, instead of an `Rc`? Based on a quick glance, it looks like LineEntrys live as long as Warnings do, so it shouldn't be a problem. It'll keep LineEntrys nicely stored in a vector as in current design, instead of a vector of Rcs, which is much better. Or am I missing something? I'm gonna give this a shot, let me know wha

[2021-04-14 09:31] mc1098 opened #419 "Refactor Check impl unit testing"
Hello 👋
I found this repo from "This Week in Rust", I'm new and looking to gain some experience with contributing to Rust projects!

I've noticed that the unit tests for Check implementations are all very similar so contain lots of boiler plate. I feel this could be a pain point when changing the API of the Check::run method, which will probably occur in resolving #410 and possibly in the future?

[2021-04-15 01:16] DDtKey commented on #410
Feel free to do a PR 🙂

Just note that `LineEntry` must be mutable in `Fixer`s which introduces restrictions 🤔

[2021-04-16 18:16] #409 closed

[2021-04-17 15:15] mgrachev commented on #419
@mc1098 👋

Sorry for the late response. I like this idea.
Could you implement this idea as proof of concept and open a PR with these changes?

[2021-04-18 16:21] #408 closed

[2021-04-19 06:27] atsmtat commented on #410
Getting back a bit late, but I was trying out few ideas. @DDtKey you're right that `Fixer` requiring mutable `lines` vector adds restrictions. But there's no need to preserve `Warning`s (holding borrowed reference to `LineEntry`s) across the fixture runs. Instead of passing a slice of `Warning` to `fixes::run`, I changed the code to pass a map of warning name to line numbers. I got the non-test mo

[2021-04-19 13:07] #407 closed

[2021-04-22 14:51] coolaj86 commented on #334
Just wanted to chime in again on the `master` / `main` issue, as my opinion has changed:

Although I don't play into the politics of the day, I agree that it's just as well if `master` is renamed to `main`:
- It's a few letters shorter and it also is marginally more descriptive
- And it's a train that can't be stopped, so might as well flow with the tide
    - you may have noticed that the most re

[2021-04-23 07:20] mgrachev commented on #410
Could you give an example of how would you implement this feature? 🤔

[2021-04-26 06:08] atsmtat commented on #410
It could be done by defining an enum -- something like:
[code]

And using it in place of `&str` for `Warning::check_name`, `Check::name`, and `Fix::name`. We can implement `Display` for this enum for printing purposes. This way, we avoid string comparison (faster code), and get safety against typos in using strings (compile time checks).

[2021-05-08 15:25] #419 closed

[2021-05-10 20:31] mgrachev commented on #410
I like this idea. Could you implement it in another PR?

[2021-05-15 17:05] atsmtat opened #426 "Use enum instead of string for lint's identity"
Currently, lints are recognized using string -- "DuplicatedKey", "EndingBlankLine" etc.
It could be done by defining an `Enum` -- something like:
[code]

And use it in place of `&str` for `Warning::check_name`, `Check::name`, and `Fix::name`. `Lint` can implement `Display` for printing purposes. This way, we avoid string comparison (faster code), and get safety against typos in using strings (comp

[2021-05-15 17:10] atsmtat commented on #410
I opened a new issue #426 to track it. I'm currently busy to implement it, but it'll be good first issue for someone new I think. I'm still waiting for #422 to merge, which will create conflict with the enum conversion.

[2021-05-17 18:41] fabricio7p commented on #426
Is this free for assignment? I would love to help if you guys could give me a hand as a mentored issue

[2021-05-18 17:09] mgrachev commented on #426
I'll assign it to you 👍

[2021-06-08 16:46] #369 closed

[2021-06-09 12:14] mgrachev opened #430 "AUR release failed"
@mstruebing Hi 👋 Could you take a look at this?
https://github.com/dotenv-linter/dotenv-linter/runs/2783455884?check_suite_focus=true

[2021-06-09 12:44] mstruebing commented on #430
Seems like an issue with the base container.
I will have a look but it may take time until the end of the week.

[2021-06-10 12:31] #381 closed

[2021-06-12 08:59] #430 closed

[2021-06-21 10:46] mgrachev opened #433 "Fix warning: `filter` for `Some` followed by `unwrap`"
[code]

[2021-06-22 09:12] #433 closed

[2021-06-30 09:28] #426 closed

[2021-08-13 05:33] b1rdex opened #435 "Apple Silicon (m1)"
`dotenv-linter installer: Error: Unsupported architecture arm64. Only x86_64 binaries are available`

[2021-08-13 12:44] DDtKey commented on #435
Hello, thanks for the issue.

It's my little shame, because I actively use m1, but forgot about native `dotenv-linter` support.
I'm using dotenv-linter in docker or via clippy 😅

I have already made a PR, but until the release is released, you can also use alternative installation methods

[2021-08-23 15:44] #435 closed

[2021-08-25 11:43] DDtKey commented on #435
@b1rdex new version has been released!
Now you can install `dotenv-linter` via a shell on Apple Silicon (m1):
[code]

[2021-09-29 01:09] mattfredericksen opened #441 "`install.sh` does not detect failed installation for write-protected bindir"
I noticed that when using the `--bindir` flag with a write-protected directory, `install.sh` does not detect that the installation failed.
[code]

I believe this could be fixed by updating
https://github.com/dotenv-linter/dotenv-linter/blob/017f954640fdc3e8c7ee448c9ec353ec33803d08/install.sh#L97
to
[code]
Or something similar to that.

[2021-09-29 17:24] akiryliuk opened #442 "Real multiple line problem"
Hi,
But what about variables containing real newlines?
for example:

[code]
it is a real work example with `python-dotenv`
and dotenv-linter doesn't work with them:
[code]

[2021-09-30 19:10] mgrachev commented on #441
@mattfredericksen 👋 Thank you for your feedback 👍

We will fix that problem 👌

[2021-09-30 19:22] mgrachev commented on #442
@akiryliuk 👋 Thank you for your feedback!

We will think about how to improve our linter 🤔

[2021-10-01 07:47] #441 closed

[2021-10-30 18:44] #410 closed

[2021-11-03 11:54] githubcdr opened #449 "Missing arm(64) docker builds"
Hi,

Any plans to support other architectures for the Docker dotenv-linter image ?

[2021-11-03 12:54] mstruebing commented on #449
Hey, @githubcdr thanks for your question.
I think there is nothing planned right now, but in theory, it shouldn't be that complicated I think.

I think we would need to add actions for releasing different architectures here when a release is triggered: https://github.com/dotenv-linter/dotenv-linter/blob/master/.github/workflows/release.yml#L87-L100

I'm not sure if this can be done in Github Actio

[2021-11-09 09:06] mstruebing commented on #449
These two links could help:
https://medium.com/swlh/using-github-actions-to-build-arm-based-docker-images-413a8d498ee
https://pet2cattle.com/2021/09/build-multiarch-container-github-action

[2021-12-01 01:14] github-actions[bot] opened #451 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2021-12-15 10:54] #442 closed

[2022-01-09 10:06] mgrachev opened #460 "Doesn't detect multi-line values if they contain a `=` sign"
Example:

[code]

Result:

[code]

[2022-01-09 10:09] mgrachev opened #461 "Falls on checking multi-line values"
Example:

[code]

Result:

[code]

[2022-01-09 11:26] DDtKey commented on #460
The main problem that's there are confusing cases and in addition it conflicts with existing `QuoteChecker`.

We cannot check if the user has forgotten the quotation mark at the end for sure.

For example:
[code]

But we can do it since it works in env libs/bash, etc. This will be the concern of the user.

[2022-01-09 12:46] #461 closed

[2022-01-09 18:43] #460 closed

[2022-01-09 18:48] mgrachev commented on #451
This crate is a dependency of the `criterion` crate, which we use as dev-dependency.
[code]

[2022-01-09 18:48] #451 closed

[2022-01-24 20:08] mgrachev opened #466 "Fix `aarch64-unknown-linux-musl` build"
https://github.com/briansmith/ring/issues/563

[2022-01-24 20:10] mgrachev opened #467 "Fix `aarch64-pc-windows-msvc` build"
https://github.com/briansmith/ring/issues/1167

[2022-01-29 17:16] mgrachev opened #468 "⚠️ Please vote for dotenv-linter ⚠️"
Our project `dotenv-linter` was nominated for an Open Source award in Russia 🔥

Please support our project and vote for it 🙏
https://opensource.highload.ru/vote

<img width="400" alt="Screenshot 2022-01-29 at 20 11 00" src="https://user-images.githubusercontent.com/700998/151670332-0fcc36aa-27f3-42c8-887d-bc3f37595c02.png">

[2022-02-26 10:05] #468 closed

[2022-04-04 12:44] thelittlebug opened #498 "recursive fix finds no files"
i think this screenshot is helpful, latest version installed as binary

![image](https://user-images.githubusercontent.com/2874956/161546096-416e57e0-4efa-4baa-97a2-bbcdc8fe77d5.png)

[2022-04-05 14:00] mgrachev commented on #498
Yes, it's a bug. Thank for your feedback 👍

[2022-04-10 06:45] CfirTsabari commented on #498
I looked into this, thought about trying to fix it, it related to how Clap subcommand work.
Clap parse the `-r` to be part of the main command arguments, So using a `dotenv-linter fix -r` will work

[2022-04-11 04:52] thelittlebug commented on #498
i have tested it and it works. thank you very much :)

[2022-04-11 04:52] #498 closed

[2022-04-17 06:26] barunslick opened #504 "Trying to understand LineEntry."
I am new to Rust and decided to learn by implementing a simpler version of this project. I wanted to know why some functionalities such as is_empty or is_comment were only made methods and not fields that could be populated during initialization in the constructor. I assume these methods will be called in many checkers for the same LineEntry and having them pre-calculated in fields would prevent r

[2022-04-17 07:05] barunslick commented on #504
Nvm, Got it.

[2022-04-17 07:05] #504 closed

[2022-05-19 23:53] Nhecos opened #516 "8"
8

[2022-05-20 06:15] mstruebing commented on #516
Is this a troll or testing out some tools?

[2022-05-23 07:23] #516 closed

[2022-07-07 12:46] #466 closed

[2022-07-07 12:46] #467 closed

[2022-07-18 09:13] #449 closed

[2022-07-28 11:19] vkaramov opened #539 "Add `version` (argument) pattern check"
[code]

[2022-07-28 11:48] DDtKey commented on #539
Try this command:
[code]

You actually passed `-b` to `sh`, you have to add `--` to pass argument to script

See: [Installation](https://dotenv-linter.github.io/#/installation)

[2022-07-28 12:00] vkaramov commented on #539
It works, thanks

[2022-07-28 12:34] DDtKey commented on #539
@dotenv-linter/core it would be nice if we add check version pattern (that it matches semver)

[2022-08-02 08:56] mgrachev commented on #539
👍

[2022-08-12 21:23] MetalArend opened #541 "Question: is there a way to filter certain comparisons?"
If you have `.env` and `.env.example` files, it makes sense to compare both files to have the same keys.
If you have `.env` and `.env.local`, it is quite normal to not have all keys in the .env.local file, but the keys might still have to be the same (even when sometimes a .env.local file might have completely different keys as well).

Is there a way to tell the compare command about the second si

[2022-08-13 09:51] DDtKey commented on #541
Hi, just to clarify, could you provide a small example with the expected behavior?

[2022-08-13 10:15] MetalArend commented on #541
.env:

[code]

.env.local

[code]

This should be valid, as a `.env.local` file is only used to overwrite certain parameters, but will probably never have all the same variables as the `.env` file.

So, is there a way to run `dotenv-linter compare .env .env.local`, and make it pass?

[2022-08-13 10:21] MetalArend commented on #541
I was thinking it might be an option to make a skip parameter in the same way as the check or fix command? But afaik there are no rules for the comparison as of yet?

[2022-08-13 10:37] DDtKey commented on #541
So do you mean checking required params for overriding? 🤔 Something like inheritance-based comparisons

Not sure if it's comparator responsibility, it just returns differences between files, while we talk about interpretation of these differences. However it could be some extension-functionallity, of course

@dotenv-linter/core what do you think of it, guys?

[2022-08-15 12:22] mgrachev commented on #541
I don't mind, but I don't fully understand how it will work.

What will be a trigger for that feature? The `.local` extension or an additional flag? What will be the output of the program?

[2022-08-16 09:15] MetalArend commented on #541
If you would have `--skip` for the compare command, you could have rules like for example `AllKeysShared` or something like that? So you could run `dotenv-linter compare --skip AllKeysShared`? Does that make sense somehow?

[2022-08-16 10:12] DDtKey commented on #541
TBH, I still can't understand how it should works.

If we allow one of the files not to have keys, we need to understand which ones.
Otherwise, what are we even comparing? 🙂

I thought you want something like this:
[code]

[code]

`dotenv-linter compare --inheritance .env .local.env`

[2022-08-16 11:05] MetalArend commented on #541
A .env.local file is a local overwrite of some of the .env values. But the .env cannot have extra inheritance comments, as there is no way of knowing which values a developer wants to overwrite, and a .env.local file is sometimes not even a requirement. But what we do know about .env.local files, is that the keys of the .env.local file need to be in the range of keys that are defined in the .env f

[2022-08-16 11:32] DDtKey commented on #541
I assumed you wanted to be able to check that all **required variables** have been overridden in case of inheritance. If we are only talking about the fact that all the `.env.local` keys are in the range of the `.env` - it looks reasonable.

I was personally confused by this:

If the `local` can contain keys that are not in the parent at all, then a mechanism for specifying variables that are requ

[2022-08-16 12:17] MetalArend commented on #541
Ah, indeed, sorry about the confusion. I considered it a good trade-off to have to mention a certain key in the .env to get through the comparison with dotenv-linter, as most of the times having a .env.local file with an unknown key is well worth documenting the situation for the setup that needs that unknown key.

[2022-08-16 13:42] #331 closed

[2022-08-22 22:19] tamusjroyce opened #545 "deno support?"
deno support?

[2022-08-23 07:31] mgrachev commented on #545
Hi! What support would you like to see?

[2022-08-31 21:05] MetalArend commented on #541
Burnout bot is around :D

[2022-09-01 09:05] DDtKey commented on #541
I believe we need to formalize what we've discussed a bit in a more readable format. In this case, someone will take it faster.

To put it briefly:
Add the ability to check the **occurrence** of the variables set `X` in `Y` for `compare` command  (and not just the complete matching of keys).

So expected behavior:
env-file `X`( e.g `.env.local`) must only contain keys from file `Y` (e.g `.env`), b

[2022-09-03 05:43] MetalArend commented on #541
@DDtKey That sounds right :) Typical examples in the wild are .env and .env.local, where one may overwrite some of the keys, based on their own decision and situation. Keyword being *may*.

[2022-09-14 09:57] mgrachev commented on #541
I like the idea, but we need to think about the API.
I like

dotenv-linter compare --override .env .env.local

dotenv-linter compare --override --base .env .env.local

[2022-09-14 10:12] mgrachev commented on #541
I would think about the API of the command, because users can change the position of arguments or pass they more than need, e.g.:
[code]

[2022-09-15 23:15] MetalArend commented on #541
In those examples, I would think the .env.local belongs to the override flag, the other multiple arguments are the original env files? Makes sense :)

[2022-09-28 04:01] #545 closed

[2022-10-02 02:00] zd4y commented on #539
Hello, I would like to contribute with this

[2022-10-02 02:17] zd4y opened #555 "CONTRIBUTING.md should mention conventional commits"
`.github/PULL_REQUEST_TEMPLATE.md` mentions to use conventional commits for the pull request. I think this information should also be included in the `CONTRIBUTING.md`

[2022-10-04 09:31] vilain-corentin opened #559 "Remove quote on string containing "#""
Hi, I noticed this little bug :game_die:

.env submitted to linter:

[code]

Linter correction:

[code]

In this case, the variable becomes empty when the .env is read by the application because it is interpreted as a comment.

Expected result (no change):

[code]

Thx

[2022-10-17 10:26] mgrachev opened #572 "Fix arm64 docker build"
The problem in building `arm64` image:
[code]

Build log: https://github.com/dotenv-linter/dotenv-linter/actions/runs/3264295030/jobs/5364708618

Related issues:
* https://github.com/docker/buildx/issues/359
* https://github.com/docker/buildx/issues/644

[2022-10-17 10:27] #555 closed

[2022-10-17 17:09] #559 closed

[2022-10-23 10:22] mgrachev commented on #541
I would add an additional command - `compare-override` instead of adding a `--override` flag to the existing command `compare`:
[code]

This will simplify the code, because I don't want to add many conditions to the existing command 🙂

@dotenv-linter/core What do you think?

[2022-11-01 14:18] #539 closed

[2022-11-21 07:03] mwgamble opened #593 "Add environment variable for --not-check-updates"
In certain environments, it may not be feasible to control all invocations of dotenv-linter. However the environment can typically still be controlled (and usually more easily even if invocations can be controlled). It would be nice if there was a way to set this with an environment variable.

[2022-11-21 07:15] mwgamble opened #594 "Docker images no longer published to ghcr.io"
It looks like there are docker images available in Github's container registry, but they're all very old and out of date. I know they're published to Docker Hub, but if someone was looking to reduce their reliance on Docker Hub, it would be nice if new releases were made available on ghcr.io.

Also there may be some users still pulling from ghcr.io that aren't aware there are new releases availabl

[2022-11-21 11:02] #594 closed

[2022-11-21 11:03] mgrachev commented on #593
Good idea, thanks!

[2022-11-29 12:31] mwgamble commented on #593
@mgrachev I was working on a PR for this. The logic changes are very simple, literally two lines:

https://github.com/mwgamble/dotenv-linter/commit/cdb27d3094e9c4098995f6cd826a950e9dcb354d

I then went to add some tests, and came across this file:

https://github.com/dotenv-linter/dotenv-linter/blob/master/tests/flags/check_updates.rs

While trying to understand how the tests worked, I tried break

[2022-11-29 12:49] mwgamble opened #600 "Confusing behaviour when using --skip"
If I pass `--skip SpecificCheck`, it eats all of the remaining arguments. If I do the traditional Unix thing of specifying flags before arguments, like so:

[code]

It completely ignores the fact that I passed a custom filename, and only checks for a `.env` file in the current folder. If such a file exists, it checks it. If no such file exists, it exits with a success status code (`0`).

If I pass

[2022-11-29 12:52] mwgamble opened #601 "Support skipping specific checks with an environment variable"
Clap supports accepting multiple values in a single environment variable:

https://docs.rs/clap/3.1.10/clap/struct.Arg.html#method.env

This could be used to implement something like this:

[code]

[2022-11-29 12:54] mwgamble commented on #600
I can't help but wonder if some of these issues are symptoms of not having a dedicated `check` subcommand. It seems like the issue I've highlighted is at least in part a symptom of the inevitable ambiguities that come with this decision.

[2022-11-29 13:23] DDtKey commented on #600
It's related to list of arguments. You can pass several checks to skip argument, like:
[code]

So in your example the issue related to not using terminator. But as can I see, current code doesn't configured well.
We need to add either
1. value [terminator](https://docs.rs/clap/4.0.27/clap/struct.Arg.html#method.value_terminator), so it will work in this way:
[code]
2. or [delimiter](https://docs.r

[2022-11-29 13:38] mwgamble commented on #600
Won't using a semicolon as a terminator conflict with typical usage in the shell, where a semi-colon denotes the end of a command? Asking users to escape a semi-colon isn't a particularly nicely user experience.

[2022-11-29 13:41] DDtKey commented on #600
It will works fine, it's clap responsibility. You don't need to escape anything